[2016-11-04 18:28] wouterbeek opened #1 "Add a screenshot to the readme file"
So people can see whether this package is of interest to them.

[2016-11-04 20:15] qorrect opened #2 "Duplicate banners, weird clicking behavior"
I have installed it to ~/.emacs.d/dashboard per instructions, and my .emacs file looks like

<code>
(add-to-list 'load-path (concat user-emacs-directory "/dashboard/"))
(require 'dashboard)
(dashboard/setup-startup-hook)
</code>

I do see an error with starting in --debug-init , but it only shows up in the mini buffer, not the *Messages* for some reason:

Symbols definition is void : projectile-mo

[2016-11-04 20:18] #1 closed

[2016-11-04 20:18] qorrect commented on #2
Doh, installing projectile-mode fixed it, and everythings clickable!

I still get weird ^L text in my *dashboard* though,
![2016-11-04-151814_1920x1080_scrot](https://cloud.githubusercontent.com/assets/711385/20020980/f6972340-a2a1-11e6-8bc6-dcfd016a16fb.png)

[2016-11-04 20:27] #2 closed

[2016-11-04 22:21] rakanalh commented on #1
Good idea... i've added the screenshot :)

[2016-11-04 22:22] rakanalh commented on #2
Thank you for reporting. You reminded me that i forgot the `require`s as i depended on the packages being their in my configs. I also added documentation for dependencies

[2016-11-04 22:32] rakanalh commented on #2
Oh, as for the weird ^L thing, installing page-break-lines package should solve your issue

[2016-11-05 16:40] ralesi opened #4 "Refer to latest Spaceman banner"
At least the first two items in your wishlist are already in Spaceman develop

[2016-11-05 18:39] rakanalh commented on #4
They're actually all these... just need to find some time and add those because you have to take care of dependencies as well.

[2016-11-05 23:25] Wilfred opened #5 "Add to MELPA"
I know you mentioned that you don't think it's ready yet: however, I've love to see this on MELPA.

[2016-11-06 01:05] rakanalh commented on #5
Hi @Wilfred,

Submitted!
PR: https://github.com/melpa/melpa/pull/4393

[2016-11-06 09:02] wynro opened #8 "Allow startup list customization"
As commented by purcell in melpa/melpa#4393, the startup list is harcoded.

How about giving the user 2 lists, one of pairs `(:symbol . 'function)`, and another of `:symbols`, the first list defines the relationship between symbols (options) and the functions that will create them. The second will define the ordering of the elements. That way each user can define their own personal options easily.

[2016-11-06 18:50] andjscott commented on #8
I haven't programmed with elisp so but how does this look? https://github.com/andjscott/emacs-dashboard/blob/customizable/dashboard.el#L224

[2016-11-07 07:32] rakanalh commented on #8
Hello @andjscott,

Could you please open an PR? It's easier to discuss changes in the PR page.

[2016-11-09 00:05] rakanalh commented on #5
Hello @Wilfred,

I noticed you sometimes contribute to the `projectile` project so i might need your help on one issue.
List customization is blocking the publish to MELPA, and it was implemented by a contributor to this project but we have a projectile issue. This is the branch:
https://github.com/rakanalh/emacs-dashboard/tree/customizable-list

The issue is that if you leave the defaults with re

[2016-11-09 22:30] Wilfred commented on #5
It works for me, FWIW. `projectile-relevant-known-projects` just returns the value of `projectile-known-projects`. Have you accidentally set that to nil? It's pretty easily done, e.g. `projectile-clear-known-projects` will do this.

I can't see a `dashboard-items` variable in the code either, what were you expecting to happen after setting that?

[2016-11-09 23:42] rakanalh commented on #5
I think you're viewing the master branch for some reason.
But here's where we're using the `dashboard-items` list:
https://github.com/rakanalh/emacs-dashboard/blob/customizable-list/dashboard.el#L224

I double checked that my projects list is not nil by removing the setq (which causes all 3 widgets to display on dashboard, default behavior). Setting the var again to projectile will show an empty l

[2016-11-10 00:29] rakanalh commented on #8
merged into master

[2016-11-10 00:29] #8 closed

[2016-11-10 00:30] rakanalh commented on #5
I used `(projectile-load-known-projects)` to explicitly trigger loading known projects.

[2016-11-19 20:03] qorrect opened #12 "Live updates to recently opened files ?"
Possible ?

[2016-11-19 20:08] rakanalh commented on #12
What use case would that serve?

[2016-11-20 10:37] mgrbyte opened #13 "Initial startup always asks to create buffer"
I've worked around this by pre-creating the `*dashboard*` buffer in my startup definition:
[code]
In the emacs startup sequence, the startup hook is [invoked later][1]  than the init hook,
so perhaps the order should switch the around?
(i.e switch-to-buffer on startup, do work in init hook?)

[1]: http://emacs.stackexchange.com/questions/14551/whats-the-difference-between-after-init-hook-and-emacs

[2016-11-20 10:42] qorrect commented on #12
I have 'jump-to-dashboard' hotkeyed on my installation , it would be nice to have the recently viewed files list because I go there more than just on startup.

[2016-11-20 11:07] rakanalh commented on #13
Hi @mgrbyte,

Not sure i understand correctly, but do you mean Emacs asks for some input when you launch it?

[2016-11-20 11:08] rakanalh commented on #12
Ah so what's required is a refresh functionality.

I think this makes sense, are you interesting in contributing this idea?

[2016-11-20 11:28] qorrect commented on #12
Sure,  I'll take a stab at it.

[2016-11-20 12:16] mgrbyte commented on #13
@rakanalh yes, that's correct.
Here's a screen-grab of the behaviour without the `(get-buffer-create "*dashboard*)` line shown above:
![emacs-dashboard-prompt-on-start](https://cloud.githubusercontent.com/assets/3185091/20462624/9ae26ade-af1a-11e6-8ff5-1470862f0e64.png)

I run emacs as a server process, and this prompt prevents it from starting correctly.
The addition of `(get-buffer-create "*dash

[2016-11-20 15:51] #13 closed

[2016-11-20 23:14] CarlQLange opened #18 "Not an issue, just"
I was the person who put in the original pull request -> https://github.com/syl20bnr/spacemacs/pull/977 <- for the startup lists.

It's awesome to see this!

👍 👍 👍

[2016-11-20 23:26] rakanalh commented on #18
WoW i am glad this got your attention!

First of all, thank you for making this and am glad that i finally know whose code am stealing :p I actually learned elisp when creating this package and playing around with the code.

It would be nice if we can work together to bring this forward. This has seen quite some activity from the non-spacemacs users so your experience could bring some nice feature

[2016-11-21 00:13] CarlQLange commented on #18
Haha, this was also my first foray into elisp! I still use spacemacs but haven't really built anything else since this - and it was almost two years ago now! I don't think there's much I could do to help you :) Just wanted to drop by and say how cool this is!

[2016-11-21 19:32] qorrect commented on #12
Actually closing this , the recent files variable doesn't seem to get updated , and I just found recentf-mode that kind of does all I wanted.

[2016-11-21 21:40] rakanalh commented on #12
There's a function called `recentf-load-list` which might trigger rebuilding the list. Did you try that one?

[2016-11-21 22:05] qorrect commented on #12
Ok let me try it

[2016-11-22 21:26] acowley commented on #12
I'd like this feature, too. @qorrect can you re-open it so there is a place to gather ideas for anyone else who comes along?

[2016-11-23 11:44] njdan5691 opened #19 "Shown at startup even when file is passed as argument"
When I start Emacs with a file as an argument is will open it but the dashboard is still displayed. Would be nice if there was a way to disable or modify this behavior or maybe document it in the README if it cannot be changed. I seen in the wishlist that new banner options are a possibility, would be nice to have one disable the banner.

Thanks for putting this together, very nice work!!!!!

[2016-11-23 14:01] qorrect commented on #12
Will do.

[2016-11-23 16:00] qorrect commented on #12
Hey sorry guys, this is the wrong spot for it I'm sure, but every call I make to any of the (recentf-*) functions returns nill ( just in an emacs-lisp buffer ).  I'm new to elisp.

I notice a (recentf-mode) , in (dashboard-insert-recents ) ... is that call required to use any of the recentf functions ?  Same is true of all elisp code in a mode ?

[2016-11-23 16:02] qorrect commented on #12
Okay I've made progress on this sorry, I was missing a call to (recentf-mode) , I guess that call is needed before I call any recentf functions ?

Anyway I can do this one, will check in shortly.

[2016-11-23 22:04] acowley commented on #12
I've added this on a [branch](https://github.com/acowley/emacs-dashboard/commit/83aa88d343e115a67d2b49e8de87fc2292acd86c). Do you want to see if it behaves as expected for you, @qorrect? To make it work more nicely for myself, I also advised `recentf` so that switching to a buffer would bump the corresponding file (if there is one) to the top of the recent files list.

To that end, this is in my `

[2016-11-23 23:41] qorrect commented on #12
Works for me!

[2016-11-24 07:52] rakanalh commented on #12
@acowley cool... can you push a PR with your modifications?

[2016-11-24 14:26] qorrect commented on #19
+1 on this.

[2016-11-24 14:38] rakanalh commented on #19
Hi @njdan5691,

Yea i'll look into this.

Thanks for adding the issue :)

[2016-11-24 15:18] qorrect commented on #19
There is a variable  (command-line-args) , https://www.gnu.org/software/emacs/manual/html_node/elisp/Command_002dLine-Arguments.html .

Still trying to determine how to tell if an item is a file or an argument ( or an option ... )

[2016-11-28 21:59] rakanalh commented on #12
Merged

[2016-11-28 21:59] #12 closed

[2016-12-05 16:27] qorrect opened #24 "Show posts from reddit.com/r/emacs"
@rakanalh  could you take a look at my master branch at https://github.com/qorrect/emacs-dashboard .

I've managed to pull down the latests posts and parse out the score, url and title, but I don't know enough lisp to collect all those items into a list and then create a clickable button with insert-button .  Right now it justs inserts text .

[2016-12-05 16:29] qorrect commented on #24
If you add ( reddits . 5 ) to your config, it should show up automagically

[2016-12-05 19:02] rakanalh commented on #24
Hi @qorrect,

I see that you're using `insert instead of `widget-create`... is there a reason this function did not work for you?

The other thing is that, although this is related to Dashboard, is this the right place for this? i think this is more of an elisp question that you can direct to reddit / stackoverflow?

[2016-12-05 20:51] qorrect commented on #24
I"m trying to avoid learning elisp , I'm hoping to just finish this little addition and be done :).

I'll take a look at widget create, thanks.

[2016-12-05 20:51] #24 closed

[2016-12-05 21:06] rakanalh commented on #24
Yup that should work for you... take a look at how the widgets do it and follow the same style.

[2016-12-06 00:48] qorrect commented on #24
How would I add generators to dashboard-item-generators , in another file I load myself ?

`(add-to-list dashboard-item-generators '(reddit . dashboard-insert-reddits ))`

Is giving me an error, Wrong type argument, symbol-p .

Just trying to do this one thing, then I'm done.

[2016-12-06 01:02] rakanalh commented on #24
You have to quite `dashboard-item-generators` in that case.

Example:
[code]

[2016-12-06 04:58] qorrect commented on #24
Thanks!

[2016-12-06 05:01] qorrect commented on #19
I think this was fixed in  5910290b40f941271970b1fe6d5da1f0711e958d

[2016-12-06 07:55] rakanalh commented on #19
Yup... this is fixed thanks to @qorrect.

[2016-12-06 07:55] #19 closed

[2016-12-06 12:35] njdan5691 commented on #19
Yup, looks good. Thanks @qorrect.

[2016-12-12 22:32] jwintz opened #26 "Customisation is difficult"
Hello,

First of all, great package ! I'm now using it on a daily basis.

As a fan of spacemacs but reticent to vim bindings, I use `spacemacs-theme` and `spaceline` packages, `emacs-dashboard` just completed the collection.

However, I cloned it and integrated it into my emacs init system, since it is not as customisable as I wanted.

First, the banner cannot be changed.

Second, it is hard to ad

[2016-12-12 23:14] rakanalh commented on #26
Hey @jwintz,

Nice work! I would love to have your new widgets into this repo. Could you be so kind and push your new stuff into a PR?
I was actually planning to have a go at some new stuff during holidays but since you've already done some i would be open to work with you to get them integrated.

Thanks

[2016-12-12 23:19] jwintz commented on #26
Thanks for your prompt answer,

Of course I will ! Some renaming to do, but it’ll be fine.

I’ll PR your soon ! Maybe tomorrow !

 - ju

[2016-12-18 17:01] nayefc opened #27 "Getting the "projectile-mode" is required error"
Hello,

I already have `projectile-mode` installed but I keep getting:

```custom-initialize-reset: Projects list depends on ’projectile-mode‘ to be activated```

Dashboard is working fine on one of my machines but not the other (identical OS, Emacs version and dotfiles), but not the other. I need to run `(projectile-mode)` but then Dashboard doesn't refresh and show me the projects either, so it'

[2016-12-18 18:56] rakanalh commented on #27
Did you try adding `(require 'projectile)` before calling `dashboard-setup-startup-hook` for dashboard?

[2016-12-26 07:07] eccentricayman opened #28 "Images"
As far as I can see, there is no way to configure it to have an image above the banner message, or links in the banner message.

[2016-12-28 21:29] rakanalh commented on #26
Hi @jwintz,

I am currently working on many enhancements for Dashboard on the `widgets` branch. You might be interested to have a look at whats coming.
I was also looking at your customizations, still interested in adding your customizations?

[2016-12-28 21:31] rakanalh commented on #26
PR: https://github.com/rakanalh/emacs-dashboard/pull/29

[2016-12-29 12:33] jwintz commented on #26
Yes ! Great work, love the resizing feature. As for the widgets, I've added the following:

* integration of `workspace.el`: based on a `save-directory-dir` variable, globs (using `f.el`) all files containing the _\*workspace\*_ pattern
* info documents: based on a `info-directory-dir` variable, globs (using `f.el`) all info files in the directory

However, this is not very generic so far, and twe

[2016-12-29 18:06] rakanalh commented on #26
Nice! i'll try to steal some things off your codebase then :)

[2016-12-29 18:35] qorrect opened #30 "Added NBA Scores"
I'll get these up on MELPA soon, have 3 plugins I need to share.

https://github.com/qorrect/emacs-dashboard-nba

[2016-12-29 19:33] rakanalh commented on #30
Nice, once you get that one done, i would be happy to add a new section in the README file listing dashboard 3rd-party widgets. Let me know once your stuff are on Melpa.

Thanks

[2016-12-29 19:54] qorrect commented on #30
COolio!

[2016-12-29 19:54] #30 closed

[2016-12-30 00:55] #28 closed

[2016-12-30 01:09] rakanalh commented on #4
They're not implemented

[2016-12-30 01:09] #4 closed

[2016-12-30 01:10] rakanalh commented on #27
I think requiring projectile should solve this issue. Closing

[2016-12-30 01:10] #27 closed

[2017-01-12 01:56] jilen opened #31 "multiple line banner logo title is not centerlized"
![screenshot from 2017-01-12 09-55-33](https://cloud.githubusercontent.com/assets/546573/21874036/689bc770-d8ad-11e6-95b9-a4ebed47f045.png)

[2017-01-16 19:21] qorrect opened #32 "Customizing generators with packages from Melpa"
Running my package install locally works fine, but when I try to customize my dashboard with

(nbas . 5 )

I'm getting Symbol definition is void or nul.

It's like it doesn't see my additions to dashboard-item-generators , which I do in this file https://github.com/qorrect/emacs-dashboard-nba/blob/master/dashboard-nba-plugin.el

Do I need to "require" something from my package in order to add cust

[2017-01-16 20:57] rakanalh commented on #32
1 thought actually... check this out: https://www.gnu.org/software/emacs/manual/html_node/elisp/Hooks-for-Loading.html

[2017-01-20 03:15] #32 closed

[2017-02-25 21:39] Aventura5 opened #33 "Can't open new dashboard"
I cant figure out how to open a new dashboard if I closed the one that opens with Emacs. I've tried opening a new buffer and running `M-x dashboard-mode` which has no visible effect, and then I saw `dashboard-insert-startupify-lists` and tried that which also did nothing. I'm not sure if it has anything to do but if i hit `g` (reload) on the dashboard that opens with Emacs nothing happens and it s

[2017-02-25 21:42] rakanalh commented on #33
Try using C-x b and switch to the `*Dashboard*` buffer. If no such buffer exists, then use M-x `dashboard-insert-startupify-lists` and then switch to that buffer.

[2017-02-25 21:49] Aventura5 commented on #33
Oh, thanks. I had tried `dashboard-mode` and *then* `dashboard-insert-startupify-lists`. Refresh with `g` still doesn't work though, if I find a file and then hit `g` the recents list stays the same.

[2017-03-08 05:28] mclearc opened #34 "arbitrary info in logo title?"
I'm trying to put some info under the banner/logo. Right now I have startup time displaying like so:

[code]

I'd love to be able to display the time, the version number of emacs, and perhaps a line of arbitrary text. Is there a way to do all this using `dashboard-banner-logo-title` or do you have an alternative means baked-in? Thanks.

[2017-03-08 10:44] rakanalh commented on #34
At the moment, `dashboard-banner-logo-title` is only text that you set or the default value. You can pretty much implement that yourself as dashboard doesn't provide this out of the box. However, i can refer you to: [Prolusion](https://github.com/jwintz/prolusion/blob/master/prolusion-core/prolusion-dashboard.el) where this has been implemented in their customized version of dashboard.

[2017-03-08 15:54] mclearc commented on #34
Right - thanks. I'll look at Prolusion again.

[2017-03-08 15:54] #34 closed

[2017-03-15 23:44] vitaminless commented on #33
In the mode help g is bound to `dashboard-insert-startupify-lists` and it seems to me that it should perform a refresh. I tried to add my org agenda list to the dashboard and discovered that dashboard never seems to update while emacs running.

So may there are to separate bugs/features, one would be a command to invoke the dashboard and switch to it, it would be useful if I killed the buffer and

[2017-03-21 20:38] unbildung opened #35 "Weird yank behavior when clicking"
Thanks for the package.

When using `dashboard` I have been experiencing a bug:

1) I launch a new Emacs session
2) I **_click_** on one of my recent files or bookmarks on the dashboard menu
3) As soon as the buffer opens, the most recent item from the kill-ring from my _**last**_ session is yanked to the top of the buffer (about 5 lines down)

Note that selecting the file with the keyboard doesn'

[2017-04-05 10:48] gergelypolonkai commented on #35
The same happens on Linux, using a mouse.

[2017-04-08 16:01] rakanalh commented on #35
I've experienced this case when dashboard uses projectile-mode to load projects list. I've pushed a fix, which is more like an ugly hack in version 1.2. Let me know if this doesn't resolve your issue.

Thanks

[2017-04-08 16:01] #35 closed

[2017-04-08 23:54] #33 closed

[2017-05-05 04:50] liulangdefeng2222 opened #44 "pictures can not be shown"
Hi, I am using Windows10, Emacs25.2
my init-dashboard.el has displayed
![1493959606 1](https://cloud.githubusercontent.com/assets/26605381/25733968/2e8f51c8-3113-11e7-9fbb-d69d4da32927.png)
no matter I choose official or logo, there is no picture shown at the beginning. It always displays the text.
![1493959479 1](https://cloud.githubusercontent.com/assets/26605381/25733981/65bc5f9c-3113-11e7-8ff1

[2017-05-05 11:36] rakanalh commented on #44
Hi @liulangdefeng2222,

I am not sure what's going on... but maybe remove the first two lines (require + dashboard-setup-startup-hook) because it seems like you're using `use-package` which is sufficient. Double check the documentation, you can either use require or use-package but not both.

[2017-05-07 19:07] liulangdefeng2222 commented on #44
I have removed the "use-package"

(require 'dashboard)
(dashboard-setup-startup-hook)
;; Set the title
(setq dashboard-banner-logo-title "Welcome to Emacs Dashboard")
;; Set the banner
(setq dashboard-startup-banner 'official)
(setq dashboard-items '((recents  . 20)
                        (bookmarks . 5)
                        ;;(projects . 5)
                        (agenda . 5)))

However, it

[2017-05-07 21:01] rakanalh commented on #44
Ok here's the list of steps you need to do:
1. Figure out which version of dashboard you've installed
2. Try to `ls ~/.emacs/elpa/dashboard-xxx/banners`, do the images exist there?
3. Try to move `(setq` block before the call to `(dashboard-setup-startup-hook)`

[2017-05-08 16:15] liulangdefeng2222 commented on #44
Thank you very much for your quick reply.
1. I think this should be the newest version (dashboard-20170419.2358)
2. I checked the file, the two images exit here
![1494259591 1](https://cloud.githubusercontent.com/assets/26605381/25813247/abbb6404-33cd-11e7-8e2a-aa1d99220ba9.png)
3. I have moved the (dashboard-setup-startup-hook) down.
![default](https://cloud.githubusercontent.com/assets/26605381/

[2017-05-09 08:26] adamjustdrewit commented on #44
Hi, I also have this issue. I've also tried using a path to an image using
`(setq dashboard-startup-banner "~/emacslogo.jpg") `
and without the root
(setq dashboard-startup-banner "C:/[...]/emacslogo.jpg")

Both of these get the same result as above. However, changing between the ascii logos works, so I **can** get a different logo by using:

`(setq dashboard-startup-banner 2)`

Is there a depende

[2017-05-17 18:07] adamjustdrewit commented on #44
I've managed to get it working. Out of the box emacs doesn't support images. [Check this stackoverflow question for details on how to get images working in emacs on windows](http://stackoverflow.com/questions/2650041/emacs-under-windows-and-png-files)

Now that I have full image support (as the answer in the link states you can check what image formats are supported by evaluating `(image-type-avai

[2017-05-18 07:40] rakanalh commented on #44
Hi @adamjustdrewit,

I thought this might be a reason but i didn't get the chance to look into it. Thanks for taking the time. @liulangdefeng2222 can you check if your version supports displaying images or not?

[2017-05-21 20:28] liulangdefeng2222 commented on #44
Thank you so much @rakanalh and @adamjustdrewit . I have made it.  I have tried @adamjustdrewit 's advises. It may have some not wrong for my vesion. I finally found that it might be the dll promblem.
Here are some advises if someone has the same problems.
1. You have checked that  `(image-type-available-p 'png)`
2.  `(cdr (assq 'png dynamic-library-alist))` find what kind dll you need. If you hav

[2017-05-21 21:12] rakanalh commented on #44
Glad the issue is resolved. Enjoy!

[2017-05-21 21:12] #44 closed

[2017-07-17 08:34] japanoise opened #45 "When clicking on dashboard items, first item of kill ring is yanked into the buffer"
1. Install dashboard (snippet from [my init.el](https://github.com/japanoise/dotemacs/blob/master/init.el) below)
2. Click on recent file
3. Text is yanked into the buffer.

[code]

[2017-07-18 10:22] japanoise commented on #45
So after some investigation, I discovered using `C-h k` that for some reason, mouse2 is the up event when clicking on these widgets with mouse1. Workaround that stops the defect, but doesn't 'fix' the bug as it's just hacking around the problem:
[code]

[2017-07-18 11:36] rakanalh commented on #45
Hi @japanoise
I've seen this happening before when emacs starts with errors. But as far as i am concerned, dashboard doesn't define any mouse-specific functionality. I'll try to look into this soon, i suspect this is an issue with `recents` module.
Could you please try to confirm that this only happens when clicking recent files?

[2017-07-18 12:13] japanoise commented on #45
Happens for all menu items as far as I can see.

[2017-07-20 05:46] Glutexo opened #46 "banner.txt not present after install"
My Emacs 25.1.1 complains about missing _banner.txt_ after installing _dashboard_ and defining a startup hook using _use-package_.

[2017-07-20 11:01] rakanalh commented on #46
Hi @Glutexo

Dashboard does not provide a `banner.txt`. Can you show the code you added to your init.el to start using dashboard?

[2017-07-24 13:13] Glutexo commented on #46
Thanks for response! I used the snipped from README:

[code]

Putting a _banner.txt_ file in the location mentioned solved the problem. I was just not expecting this would prevent _dashboard_ from running. It doesn’t feel right to me, however, to directly put a file into the package directory.

[2017-07-24 19:46] rakanalh commented on #46
I agree... the weird thing is, the default will try to load an image banner rather than a txt file.

[2017-07-29 09:30] Glutexo commented on #46
Well, may I somehow assist you with debugging?

Just to add more info, I am using Emacs 25.1 (9.0) on macOS 10.12.4. I’m not aware of any unusual configuration.

[2017-08-09 02:55] rgd commented on #26
Just discovered dashboard today - very, very nice! I've started using it, replacing what I've been using and now I wanted to customize it a bit to add some ideas I've been using in my emacs startup.
(Basically I put a random 'fortune' in my *scratch* buffer, and display a "tip of the day" which just shows the help page for a random emacs command (to remind me of them and learn more of what's in th

[2017-08-09 03:20] rgd commented on #26
Ah - got it.   Looking at the dashboard-insert-recents and similar functions helped.  Had to add a parameter to my defun:

(defun dashboard-insert-custom(list-size)
...)

Might want to update the documentation for that.  Now off to add my own widgets!

[2017-08-09 18:34] rgd commented on #26
And now I have my "fortune" and "tip of the day" widgets working nicely!   Thank you!

![image](https://user-images.githubusercontent.com/210700/29137893-dbe9e840-7d0f-11e7-9371-c2b4752d8646.png)

[2017-08-09 18:42] rakanalh commented on #26
Hi @rgd

Looking great. Thanks for the update.

Feel free  to contribute the `tip of the day` widget, i am interested in including it in dashboard.

[2017-08-09 22:54] terrymunro commented on #46
Hey I'm also seeing this issue.

I've noticed inside of `~/.emacs.d/elpa/dashboard-1.0.3/` the banners directory isn't being installed.
It only contains:
`dashboard-autoloads.el  dashboard.el  dashboard.elc  dashboard-pkg.el`

Is that right?

[2017-08-09 23:40] rgd commented on #26
My tip of the day is based on : https://www.emacswiki.org/emacs/TipOfTheDay  from Dave Pearson.
It picks a random command and displays the documentation for it and any keybindings.  Helps remind me of things I knew or helps me learn new things already there.  (Not used to putting code in for a pull request yet, so I'll just copy it here.)
``
(defun totd()
  (let* ((commands (loop for s being the s

[2017-08-10 07:20] rakanalh commented on #46
@terrymunro i downloaded the latest version on melpa:
https://melpa.org/#/dashboard
and banners folder is there. Are you installing from melpa stable?

[2017-08-10 07:21] rakanalh commented on #46
After double checking, i think the answer is yes. I'll upload an updated version tonight.

[2017-08-10 07:44] terrymunro commented on #46
@rakanalh Yes you're right. I had melpa-stable set at a higher priority.

Thank you :+1:

[2017-08-10 17:27] rakanalh commented on #46
https://github.com/rakanalh/emacs-dashboard/releases/tag/1.2.3
Melpa stable should have the code in a few hours.

[2017-08-10 17:27] #46 closed

[2017-08-26 04:53] newbenhd opened #47 "dashboard crash after org file added to agenda"
After I added org file to agenda, dashboard crashed
Refer to this for emacs init file: https://gist.github.com/newbenhd/a4dad15d5f1d2e800998afca90ca81cb
Refer to this  file: https://gist.github.com/newbenhd/9c5f92accf2620f0bd197a37b6e1175b

[2017-08-27 10:33] rakanalh commented on #47
This looks weird. Questions:
1) Which emacs version do you have?
2) Do you have projectile installed?
3) Does your agenda entry contain schedule / deadline dates?
4) Could you provide a simple org file to reproduce this error?

[2017-08-31 03:13] deftpunk opened #48 ""Format specifier" error on initialization"
I get the following error when Emacs starts:
[code]

I am using the following Emacs version installed in the following manner:
[code]

I was able to reproduce this with the following minimal init.el
[code]

I looked into the definition and calling of `dashboard-insert-image-banner` in dashboard-widgets.el  but nothing was obvious to my meager elisp skills.

Any help would be appreciated, thanks.

[2017-09-01 05:53] pleh2 opened #49 "void function spacemacs-buffer/warning"
When I set a file that doesn't exist to "dashboard-startup-banner", I get the void function error on startup and the entire dashboard fails to load. (in this event, it's supposed to load the txt banner?)

[2017-09-01 06:12] pleh2 commented on #49
pr #50

[2017-09-01 07:02] rakanalh commented on #49
Thank you for the report & PR

[2017-09-01 07:02] #49 closed

[2017-09-01 07:11] vonHabsi opened #51 "emacs-dashboard adds '~/.emacs.d/recentf' and 'org-agenda-files' list to top of recent files in dashboard"
When `org-agenda` is added to the dashboard the files in `org-agenda-files` are added to the **Recent Files** list in the dashboard as well, and so is `~/.emacs.d/recentf` itself.

I suspect that the order of execution may be a factor here. Is there a way to avoid it at startup, regardless of the stage, perhaps ignoring `~/.emacs.d/recentf` and  `org-agenda-files` contents when constructing the da

[2017-09-01 07:16] rakanalh commented on #48
Hey @deftpunk,

Thanks for the report. I'll look into your example and check why it fails.

[2017-09-01 07:18] rakanalh commented on #51
Hi @vonHabsi,

It happens because dashboard actually opens these files and looks inside of them to get their contents.

Can you maybe try setting your `recentf-exclude` to ignore these files?
[code]

[2017-09-01 08:33] vonHabsi commented on #51
Thanks - I will look into that. I am a bit of emacs newbie.

[2017-09-02 05:21] vonHabsi commented on #51
Does emacs have a function or a mode for opening a file which doesn't add it to the recentf list?

[2017-09-02 08:36] rakanalh commented on #51
Not that i am aware of and i don't think so. did the recentf-exclude not work?

[2017-09-02 18:42] rickjthurman opened #52 "Dashboard and desktop-save-mode?"
Is dashboard not compatible with the desktop-save-mode feature? I like to start emacs with a split screen and have a certain file opened in one of them. With dashboard installed, the file is loaded in a buffer but the screen doesn't split.

Is there a workaround?

Also, thanks for the great package!

[2017-09-02 22:12] rickjthurman commented on #52
I managed a workaround with a after-init-hook.

[2017-09-02 22:12] #52 closed

[2017-09-05 17:21] deftpunk commented on #48
FYI.  I was able to circle back to this and emacs-dashboard works with 25.2.1 - still not clear as to what specifically the issue is with 26.x

[2017-10-02 01:41] WalkerGriggs commented on #47
I am seeing similar behaviour with the agenda widget. To answer your questions:
1. Emacs 24.5.1
2. Yes, projectile is installed
3. Sample org:

[code]

The error I'm getting is
`dashboard-date-due-p: Wrong type argument: listp, 86400`

My elisp is weak, but I would venture a guess this is tied to [line 327](https://github.com/rakanalh/emacs-dashboard/blob/master/dashboard-widgets.el#L327) of the w

[2017-10-02 07:27] rakanalh commented on #47
Thanks for the additional info @WalkerGriggs, i added the contents you attached to a test.org file and added it to the `org-agenda-files` and dashboard is parsing this correctly.
Could you please try to provide a simple config file which reproduces this for you?

[2017-10-02 12:56] WalkerGriggs commented on #47
Below is any relevant configs (org, dashboard, etc.) I created my own banner (4.txt), but that should be the only irregularity.

[code]

[2017-10-04 09:47] nico202 opened #54 "Open the dashboard when it's closed"
Hi, if I kill the *dashboard* buffer, how do I open it again?

Thanks, Nicolò

[2017-10-04 20:24] rakanalh commented on #54
you can call `M-x dashboard-insert-startupify-lists`. I should probably give it a better name.

[2017-10-04 20:24] #54 closed

[2017-10-05 09:47] nico202 commented on #54
Thanks, it works but is not intuitive XD maybe provide something like this (not an elisp dev)

[code]

[2017-10-06 17:31] r0m4n27 commented on #47
Got the same problem, but after updating Emacs from 24 to 25 (because of another package) the problem was gone.
Left Emacs 25 and right Emacs 24: https://i.imgur.com/C90Bi4x.png

[2017-10-17 17:28] NoahDragon opened #55 "Emacs logo not showing on banner"
I got an issue that the logo couldn't display on the banner. Not matter what value I set for the dashboard-startup-banner, the logo doesn't change.

![image](https://user-images.githubusercontent.com/5704064/31679449-1caa03d2-b33f-11e7-8b6c-e3b1bc1c1256.png)

Any help would be really appreciate.

[2017-10-18 03:56] rakanalh commented on #55
Which emacs version are you using?
Dashboard is falling back to ascii banner because your emacs is not compiled with jpeg and png support.
Try executing: `M-: (image-type-available-p (intern (file-name-extension "test.png")))`
If you see `nil` in the minibuffer, this means  that your emacs doesn't have png support for displaying the logo.

[2017-10-18 13:25] NoahDragon commented on #55
@rakanalh Thank you. I ran the statement, it returns nil. I will try to figure out how emacs supports the image.

However, the original welcome image display correctly. BTW, my emacs version is 24.5.1.

[2017-10-18 13:35] NoahDragon commented on #55
@rakanalh you are right. Under window, the emacs is not compiled with png support. After following the answers on the https://stackoverflow.com/questions/2650041/emacs-under-windows-and-png-files , my issue resolved.

Thank you.

[2017-10-18 13:35] #55 closed

[2017-10-18 13:36] rakanalh commented on #55
Glad i could help :)

[2017-10-20 15:01] tomterl opened #56 "projectile widget: customizable switch function"
The projectile widget uses `projectile-switch-project-by-name` hardcoded. I use projectile in conjunction with perspective.el. Currently I have an `:override` in place for `dashboard-insert-project-list`, that calls `projectile-persp-switch-project` instead of `projectile-switch-project-by-name`.

Would you consider adding a `defcustom` to make this function configurable, or to accept a PR to that

[2017-10-20 17:43] rakanalh commented on #56
Hi @tomterl

I think the easier alternative for you is to override `dashboard-item-generators` to register you overridding function:
https://github.com/rakanalh/emacs-dashboard/blob/master/dashboard-widgets.el#L54
This is also mentioned here:
https://github.com/rakanalh/emacs-dashboard/blob/master/README.org#configuration at the end.

Would that be any helpful to your use case?

Regarding perspect

[2017-10-21 09:29] tomterl commented on #56
Hi,

many thanks for your prompt reply (and the dashboard in the first place!).
Changing `dashboard-item-generators` instead of my overriding advice
 wouldn't change the underlieing problem,that I don't want to copy your projectile code just to change the project-switching function. Maybe the correct approach would be to adapt projectile.el itself to change it's behaviour if one indicates that eac

[2017-10-21 09:45] #56 closed

[2017-12-05 19:20] thorstengrothe opened #57 "Show emacs init time"
First of all, thanks for this package, I searched for a long time for something like this!

Is it possible to create a widget that shows the startup time of emacs?

Regards
Thorsten

[2017-12-05 19:57] rakanalh commented on #57
Hi @thorstengrothe,

Yes, it's possible. The question is when. This is actually one of the things i had in mind. Can i encourage you to give it a go and open a PR? if you do, i'll let you know about my favorite Buckethead album (since you're a fan evident from your profile picture 😄 )

[2017-12-05 20:12] thorstengrothe commented on #57
Hi,
I would help if I could 😄 but I'm a emacs beginner, but maybe I find something from someone else. The idea ist not new, spacemacs has it in it's dashboard AFAIK..

(And yes, I love Buckethead very much since a couple of years, especially the slow and mellow tracks and the ones with GNR, but that's another topic 😄)

[2017-12-05 22:59] mclearc commented on #57
One thing to do is define a variable right at the start of your init file and then have dashboard load it (at least if you call dashboard at the end of your init file) as the banner message like so:

[code]

[2017-12-06 19:05] thorstengrothe commented on #57
@mclearc, thank you for the snippet it works pretty nice! But there is a difference between the loading time of your snippet and emacs-init-time,

Your snippet shows me: 1.11 sec.
Emacs init time: 1.5 sec.

Which one is right? For convenience I show you my init.el here. My other config is in org-mode and I load it with org-babel, see here:

[code]
Regards
Thorsten

[2017-12-06 19:44] rakanalh commented on #57
Nice discussion... i think it might be better to use the `after-init-hook` as such:
[code]

[2017-12-08 05:57] thorstengrothe commented on #57
@rakanalh with your snippet I got an error:

`custom-initialize-reset: Format specifier doesn’t match argument type`

this is slightly different and from jwiegleys config:

[code]
so far, so good now I got a message in my message buffer after init that shows me the correct startup time, but how do I get the output of the message in

`(setq dashboard-banner-logo-title ...` ?

[2017-12-08 23:38] rakanalh commented on #48
Hello @deftpunk.

I am running 26 now and couldn't reproduce the issue you were having. Care to give it a try?

[2017-12-20 14:38] Bonhammer opened #58 "Separator Lines do not adapt to screen width"
Hi, this is my first ever issue and I hope I'm not doing this wrong.

I just started using dashboard and noticed that the separator lines between the widgets do not adapt to the emacs window size at startup.
Thanks for providing the package in the first place.

[2017-12-20 22:14] rakanalh commented on #58
Hello @Bonhammer,

Glad you made your first contribution. Could you please provide a screenshot of how it looks? + Your emacs version and the version of emacs-dashboard you're using.

[2017-12-21 10:25] Bonhammer commented on #58
Hi Rakan,

I'm using Emacs version 25.1.90.1 (x86_64-w64-mingw32)
 of 2016-12-01
The dashboard version is 20170923.719

Here's a link to a screenshot: https://cloud.phil.hhu.de/index.php/s/6o5roZn6Xb4SOfa

Thanks for your help.

[2018-01-15 02:11] jhenahan commented on #51
If anyone is looking for a specific snippet that'll work in the general case

    (setq recentf-exclude (org-agenda-files))

or, if your agenda files are symlinks (as may be the case if you sync your files with a service but symlink them to your home directory), this snippet is what I use (requires `dash.el` and `f.el`):

    (setq recentf-exclude (-map 'f-canonical (org-agenda-files))

[2018-02-02 21:17] jbjjbjjbj opened #61 "Error then loading orgmode due dates"
When starting dashboard i get the error `dashboard-date-due-p: Wrong type argument: listp, 86400` and nothing else. This only happens then i have a if one of my org files has the DEADLINE and SCHEDULE set.

2017.org
[code]

Deadline setup in .emacs
[code]

The only solution i could find, was to disable the `agenda` item

I'm using emacs version 24.5.1 with the gui, but the problem also exist in th

[2018-03-13 12:19] adakbar opened #62 "Does we have a way to put GIF image on logo?"
I'm kinda curious, does we have a way to put GIF image on logo? maybe using `imagemagick` just like `image-mode`?

[2018-03-13 21:54] rakanalh commented on #62
Hello @adakbar,

I am not really sure as i haven't tried doing this. did you try the following configurations with a gif image?
[code]

[2018-03-17 23:53] maindoor opened #63 "Dashboard not seen in emacs25"
Hi,

I have enabled dashboard as per the instructions, but I see only the scratch
buffer if I restart emacs. I don't see the dashboard. Is there anything obvious
I need to check ?

Thanks.

[2018-03-18 02:25] maindoor commented on #63
I'll close this issue. I was using a startup file with a few arguments for starting emacs. When I removed it all I got the dashboard.

[2018-03-18 02:25] #63 closed

[2018-03-18 21:03] leikoilja opened #64 "Failing to customize dashboard"
Hey, everyone. Thank you all, especially @rakanalh for an amazing package.

I am quite new to emacs and am struggling to customize the dashboard. No matter how i try no logo is loaded, no welcome text is loaded and neither bookmarks or project are working.

These are the setting i have in my init.el file (emacs GNU Emacs 25.1.1 (x86_64-unknown-linux-gnu) of 2018-03-03):
`;; dependancies
(use-packa

[2018-05-10 23:40] winny- opened #67 "Suggestion: Move configuration variables into Emacs customize framework"
I noticed only a handful of emacs-dashboard options are accessible via `M-x customize-group RET emacs-dashboard RET` and was wondering if it would make more sense to move the configurable variables them into the customize framework? I could open a PR to do this, but wanted to ask first :)

[2018-05-15 19:40] rakanalh commented on #67
Hi Winny,

I am totally open to this. Don't have the time these days to work on Dashboard but please feel free to present a PR and i'll happily merge.

Thanks

[2018-05-24 13:09] lckarssen opened #69 "Starting Emacs from the command line with a file name doesn't open the file after setting initial-buffer-choice"
If I set
[code]
as mentioned in [the README file](README.org) and run `emacs path/to/some/file` from a shell, Emacs won't open that file (as it used to). I guess  this is normal behaviour, but it I think it is worth to mention it as it may impact people's workflow.

[2018-05-25 19:33] rakanalh commented on #69
Hi @lckarssen,

This is a regression that should be addressed. I'll look into it soon.

Thanks

[2018-05-31 14:04] vxid opened #71 "window-configuration-change-hook is deprecated"
The `window-configuration-change-hook` is deprecated with Emacs 26. According to the changelog of v26:

For dashboard, `(dashboard-resize-on-hook)` is not called when the Emacs window is resized by my window manager, resulting in a off-center image. Changing the frame configuration recenters it though.

[2018-05-31 16:58] sadhu89 opened #73 "Flickering on Emacs 25.3.1"
After I installed this package all the Emacs windows started flickering when splitting or changing focus. It fixed when I removed the package.

[2018-06-01 20:10] rakanalh commented on #73
Strange... i also use 25.3 version but didn't notice this. Which OS are you running emacs on? How did you install Emacs (Compile vs pkg manager)?

[2018-06-17 09:50] olymk2 commented on #63
Just hit this myself just call the below before initial buffer choice.

    (dashboard-insert-startupify-lists)

This will create the buffer and populate it so its available to switch to.

[2018-06-28 21:18] olymk2 opened #74 "Set mode / Disable bindings possible ?"
Love having the custom dashboard, but it seems to override my default bindings is there a way to stop is binding keys by default ?

In particular I am using hydras and modal editing and this buffer seems to stop the modal mode from working so none of my hydras work.

any suggestions ?

[2018-07-02 07:51] rakanalh commented on #74
Hello @olymk2,

What you can do is:

If you use `use-package`:
[code]
to unset certain key in a mode map. The list of keys that dashboard binds is here:
https://github.com/rakanalh/emacs-dashboard/blob/master/dashboard.el#L34

[2018-07-13 15:03] jrfferreira commented on #62
@rakanalh with the suggested setting, the image is rendered without the animation.

[2018-07-14 19:48] rakanalh commented on #62
Hi @jrfferreira ... am not sure if emacs supports rendering and animating all the frames that exist in a gif. That being said, i think this is more Emacs-centric than a Dashboard one.
I'll go ahead and close this issue.

[2018-07-14 19:48] #62 closed

[2018-08-14 02:48] Ninlives opened #77 "Can I move the text of bookmark, recentf, etc, to the center"
On my screen they seems to be too "left".

[2018-08-14 17:54] rakanalh commented on #77
At the moment, this is not implemented in Dashboard... would love to receive a PR if you would like to tackle this issue.

[2018-08-29 17:28] smartepsh opened #78 "Something strange with my org mode"
There is some something strange for my org agenda. If I have set `org-agenda-files` to not nil, my spaceline could not work in org-mode.

emacs version: 26.1
system: osx darwin

If open org file through `*dashboard*` buffer, the mode line looks like this:
![image](https://user-images.githubusercontent.com/3273295/44803678-b790fa80-abf1-11e8-99d8-bd685603d20f.png)

But if open file with `find-file`

[2018-08-29 19:07] rakanalh commented on #78
Hi @smartepsh,

I am not sure this is even related to Dashboard as it doesn't tamper with any modeline related functionality.

[2018-08-30 01:17] smartepsh commented on #78
Thanks for reply @rakanalh ,
But If I don't run `(dashboard-setup-startup-hook)` function, It's all ok. That's why I submit this issue here for help.

If you need any other information, I will provide. Thanks.

[2018-08-31 06:54] #78 closed

[2018-10-05 04:19] Chandlercjy opened #80 "Is it possible to change the color of the txt banner? Just like plugin Startify in vim?"
Thank you!

[2018-11-01 09:53] perweij opened #81 "command line arguments prevent dashboard from starting"
Dashboard only starts if the following check is true (dashboard.el/setup-startup-hook):
``
(if (< (length command-line-args) 2 )
     ...init dashboard...
``
This makes sense if the command line arguments are files to be opened. But if those command line arguments are not files (like --debug-init etc), Dashboard should still start. If the check above could be re-formulated to look for files instea

[2019-01-13 15:57] Bee-Mar opened #84 "Less of an issue, and more of curiosity..."
First of all, thank you for taking the time to create the emacs-dashboard. It's absolutely fantastic, has improved my workflow, and helped make my Emacs config look pretty sweet. As the title implies, this issue isn't urgent at all, but it's something that I've been trying to figure out for a little while now.
When using the Emacs client and server, if one frame is open, everything is displayed no

[2019-01-18 08:20] SysConKonn commented on #58
It seems that I have the same problem.
The lines can't adapt my window well.
![img](https://i.loli.net/2019/01/18/5c418bd178d7f.png)

[2019-01-18 08:54] rakanalh commented on #58
It works for me :tm:

But the question is, you're saying "adapt"... so i am assuming that Emacs starts with a smaller size where the horizontal line goes all the way to the end and then you resize the window right?

[2019-01-18 09:11] SysConKonn commented on #58
It also didn't work right when emacs starts.

[2019-01-18 10:02] Bonhammer commented on #58
I have to report that the issue still persists for me.

However, there's a slight difference between the two cases: while @SysConKonn's separator lines seem __too short__ at Emacs startup, in my case the separator lines are __too long__ even though I maximize Emacs during startup.
I hope this observation is helpful.

[2019-01-18 10:23] SysConKonn commented on #58
The line with my [emacs config](https://github.com/SysConKonn/emacs.d) **works right** in my friend's computer, so I guess this problem was caused by fonts.

[2019-01-23 22:18] jueqingsizhe66 commented on #26
Can you share your config about the highlight heading-face? I have no idea how to do it

[2019-02-05 15:52] Bee-Mar commented on #77
This is something that's working temporarily. Quite honestly, I'm still trying to understand Elisp, so, there's a lot to be desired, but it's possibly a start for someone to tidy up.

![2019-02-05-105216_1912x1049_scrot](https://user-images.githubusercontent.com/17814198/52285330-22c6c180-2934-11e9-9070-1d32e0bcf994.png)

`(defun center-dashboard()
  (if (eq buffer-file-name "*dashboard*")
      (

[2019-02-10 01:04] Opimenov opened #86 "Show latest xkcd comic from xkcd mode as dashboard image"
Feature request. It would be really cool if there was an option to show latest xkcd comic on the startup. Should fairly easy to do for the author.

[2019-02-11 11:49] rakanalh commented on #86
This could be written as an additional widget that you can include in your emacs config and register with emacs-dashboard to display it.

I don't think this can be a dashboard-native feature.

[2019-02-11 11:49] #86 closed

[2019-02-14 10:07] Jasagredo opened #87 "Unwanted `RET` typed into buffer when clicked"
When I click on a dashboard item, a `RET` character is typed in the buffer.

- If I click a file, it enters an empty newline at the beginning.
- If I click a dir, it shows the first file in the folder as it list the contents with `dired` and then emits a `RET` that enters the file.

I am using emacsforosx 26.1. Dashboard was installed through MELPA and it is loaded with this script:
[code]

If I n

[2019-02-18 19:26] #84 closed

[2019-02-22 19:07] rakanalh opened #89 "Add CI support & linting"

[2019-02-22 20:54] rakanalh opened #90 "Add CONTRIBUTING docs and coding style guide"
For the coding style guide, a quick search pointed me to: https://github.com/bbatsov/emacs-lisp-style-guide which looks fine from a quick glance.

[2019-02-23 00:55] rakanalh commented on #89
Done

[2019-02-23 00:55] #89 closed

[2019-02-23 18:41] #80 closed

[2019-02-23 19:03] #87 closed

[2019-02-23 19:48] rakanalh commented on #45
I believe this should be fixed after having merged #91

[2019-02-23 19:48] #45 closed

[2019-02-23 19:50] #48 closed

[2019-02-23 19:51] rakanalh commented on #51
Fixed with #83

[2019-02-23 19:51] #51 closed

[2019-02-23 22:10] gonsie commented on #81
Can you provide more details on how you are launching emacs? I cannot recreate your issue. If you are using emacsclient, maybe your issues is related to the discussion in #68?

Maybe the latest version of emacs has fixed this? Using version 26.1, when I run `emacs --debug-init` I do not see "--debug-init" in the command-line-args variable... and dashboard properly displays.

Interestingly, when I

[2019-02-25 09:55] japanoise commented on #45
Can confirm that the issue no longer occurs after updating dashboard and with the hack mentioned in my earlier comment removed. Thank you :smile:

[2019-02-25 17:11] ema2159 opened #94 "Readme typo"
To center content is (setq dashboard-center-content t) not (setq dashboard-center-content nil) as the README says

[2019-02-25 20:17] TinaRussell opened #95 "Customization group “dashboard” is a member of… itself"
In dashboard.el:
[code]
The `:group 'dashboard` part makes the Dashboard customization group both its own parent and its own subgroup. It doesn’t cause any runtime problems, it just means that the Dashboard group is missing from the customization hierarchy, and points to itself as both a parent and a subgroup.
Anyway, it just means we need to pick a group of which Dashboard _should_ be a part. I’d

[2019-02-26 06:39] seagle0128 opened #96 "Can org-agenda be optional?"
Since it's slow to load `org` package, can it be optional if it's not used in `dashboard`?

[2019-02-26 07:03] seagle0128 opened #97 "Shortcuts don't work"
OS: macOS Mojave
GNU Emacs: 26.1
Version: 29ecbd87f2bd0bcc47ac09dcc09c09958035324d

All section shortcuts don't work in the latest version, while they worked well before.
e.g. `r` should jump to `Recent files`.

[2019-02-26 10:37] JesusMtnez commented on #97
Hi @seagle0128 that's weird. I've just updated this morning and shortcuts worked perfectly :thinking: I also use Emacs 26.1 (on Linux)

Could you share your Emacs / Dashboard configuration file? Maybe there is a misconfiguration :thinking:

[2019-02-26 10:39] JesusMtnez commented on #96
You could configure `dashboard-items` to not include `agenda` so it is not loaded.

For example, this is my current configuration:
[code]

[2019-02-26 11:17] JesusMtnez commented on #77
Done #88

[2019-02-26 11:17] #77 closed

[2019-02-26 11:18] JesusMtnez commented on #64
@leikoilja Do you continue having this issue? I may be able to take a look at it later

[2019-02-26 13:26] Bee-Mar opened #98 "Setting "dashboard-center-content" breaks emacsclient"
When `dashboard-center-content` is set to `t` the emacsclient hangs on startup, and a frame cannot be opened. However, opening Emacs without using the daemon is just fine. When setting  `dashboard-center-content` back to `nil`, the emacsclient and daemon work as expected. Also, there are no error messages displayed when opening Emacs after setting  `dashboard-center-content` to `t` and opening a n

[2019-02-26 14:22] JesusMtnez commented on #98
@Bee-Mar I've just tried what you suggested, and I got this error in from `*Messages*` buffer:

[code]

I'll try to debug it when I have some spare time! Thank you!

[2019-02-26 14:23] #94 closed

[2019-02-26 14:27] Bee-Mar commented on #98
Sounds good! And thank you for working on this pull-request! When I saw this was submitted I got pretty excited haha

[2019-02-26 14:35] JesusMtnez commented on #98
All thanks to @jkdufair who did an amazing job there.

[2019-02-26 15:59] Bee-Mar opened #100 "Org-Agenda Issue"
Sorry to open another issue on the same day, but with the latest update to `emacs-dashboard`, when I attempt to open an org-agenda item, I receive an error message. I attempted to do a clean re-install of emacs with my configuration, but recieved the same error. I also attempted a clean reinstall and used a test directory with a single org file that contained a single `TODO` set as my only org-age

[2019-02-26 17:42] seagle0128 commented on #97
Thanks for the quick reply!
I noticed there is a recent change related to compilation, then I deleted and reinstalled the package. It works well again!

[2019-02-26 17:48] seagle0128 commented on #96
My setting is below:

[code]

I think `org` will be loaded since there is `(require 'org-agenda)` in `dashboard.el`.

[2019-02-26 18:26] seagle0128 commented on #97
Sorry, it's too fast to say it's fine now.
After restarting the Emacs, it doesn't work again!
My configuration is here: https://github.com/seagle0128/.emacs.d/blob/master/lisp/init-dashboard.el

[2019-02-26 18:33] jkdufair commented on #98
I can also try to dig in and at least try to get it not to choke!

[2019-02-26 18:34] jkdufair commented on #94
Sorry about that! Thx @JesusMtnez!

[2019-02-27 06:22] JesusMtnez commented on #97
@seagle0128 you are right, just opened my emacs and no bindings are not working :thinking:

[2019-02-27 06:25] #98 closed

[2019-02-27 17:45] jkdufair commented on #97
This seems to happen if `dashboard-widgets.el` gets byte-compiled. I'll dig in and try to figure this out.

[2019-02-28 06:22] #97 closed

[2019-02-28 10:44] seagle0128 commented on #97
Thanks for the fixing! It works well now.

[2019-02-28 21:44] jkdufair opened #105 "Show empty sections?"
If someone has, i.e. registers specified in their `.emacs` and they don't have any registers defined, what should the behavior be?

1. Don't show the section at all?
1. Show something like "--- none ---" as the section text?
1. Show only the header?

I know agenda handles this specifically. For others, I believe my preference would be the first.

[2019-02-28 22:29] jkdufair commented on #100
I'm able to replicate this. I'll get a PR in shortly.

[2019-03-01 00:11] jkdufair commented on #95
@TinaRussell What about `Applications` or `Convenience`?

[2019-03-01 06:46] #100 closed

[2019-03-01 06:46] #96 closed

[2019-03-01 07:14] seagle0128 commented on #96
Thank you!

[2019-03-01 07:56] JesusMtnez commented on #105
In my opinion, I think the preferred option is number 2. Not showing the section could lead to confusion, it would seem that the section is not being loaded. I think handling no elements as in the agenda widget would be the most reasonable way.

I think the best way to handle that is to provide a way of handling no items in a widget in a general way if possible.

What do you think @rakanalh ?

[2019-03-01 07:57] JesusMtnez commented on #58
@Bonhammer @SysConKonn does this issue persist?

[2019-03-01 08:22] rakanalh commented on #105
I think previously (1) was implemented. But now i would prefer (2) as i agree (1) would lead to confusion.

[2019-03-01 14:10] jkdufair opened #108 "Differentiate section headings"
This is a suggestion to make sections stand out a bit for easy scanning.

[2019-03-01 20:52] #105 closed

[2019-03-03 00:24] TinaRussell commented on #95
Either sounds good to me

[2019-03-03 00:39] jkdufair opened #111 "Grid layout like WTF"
@JesusMtnez @rakanalh What do you think about the idea of offering the ability to lay out sections like [WTF](https://wtfutil.com)?

One idea is to offer keystrokes that mimic Emacs' window management keystrokes. So C-c C-x 2 could split the window into 2 horizontal "panes". C-c C-x 3 into 2 vertical panes. Maybe use [Transient](https://emacsair.me/2019/02/14/transient-0.1/) so the user could sele

[2019-03-03 03:57] seagle0128 opened #112 "projectile-mode is not necessary"
https://github.com/emacs-dashboard/emacs-dashboard/blob/1c01a3d744840559c1bd41fabaa2f8febd967288/dashboard-widgets.el#L327

I don't think `projetile-mode` should be enabled here, while iIt should be up to users' settings. Moreover, it makes the `projectile` as a dependency.

[2019-03-03 07:21] JesusMtnez commented on #111
Really interesting idea! :clap: :clap: I do not know a lot about `Transient` but maybe you could do a little _proof-of-concept_ to see what it looks like.

[2019-03-03 07:21] JesusMtnez commented on #111
It could next `2.0.0` release :thinking:

[2019-03-03 07:28] JesusMtnez commented on #108
Done in #109

[2019-03-03 07:28] #108 closed

[2019-03-04 16:04] jkdufair commented on #111
Ok I'll play around with it. I've been trying to design a layout system that is easy to configure and responsive. Not a simple problem!

[2019-03-04 16:07] #112 closed

[2019-03-04 16:32] #95 closed

[2019-03-07 05:30] MrConnorKenway opened #115 "don't load dashboard when opening files with emacs"
How to prevent dashboard from loading if I open files using emacs?

[2019-03-14 20:38] #18 closed

[2019-03-15 11:31] rememberYou commented on #115
By:

do you mean to not load `dashboard` if you use emacsclient?

[2019-03-15 23:38] ema2159 opened #116 "Request: bullets and icons"
Could you add icons to the sections and bullets to the section items? I think it could improve a lot the way dashboard looks

[2019-03-20 07:27] JesusMtnez commented on #58
This doesn't seem to be a problem anymore. I'm closing this issue.

[2019-03-20 07:27] #58 closed

[2019-03-20 11:38] MarthaDora commented on #115
@rememberYou I think the question should go something like this: If dashboard is loaded, the command 'emacs <filename>'  can't open this file,and dashboard buffer was not loaded too.

[2019-03-20 11:47] rememberYou commented on #115
Well, that's weird, I do have that same problem.

It should be possible to know if when opening GNU Emacs, there is a file as an argument. From then on, you will can use the `:if` clause of [use-package](https://github.com/jwiegley/use-package/) to launch `dashboard` only if GNU Emacs is launched without a file as argument.

On the other hand, it will be tricky for those who don't use `use-package

[2019-03-20 11:56] rememberYou commented on #115
It seems we can use `command-line-args` to find out if GNU Emacs is running with some arguments. If you combine this with `use-package`, here is how to temporarily solve this problem:
[code]

[2019-03-20 11:58] rememberYou commented on #69
@lckarssen, a temporary solution has been provided here: https://github.com/emacs-dashboard/emacs-dashboard/issues/115

[2019-03-20 22:52] rememberYou commented on #57
Since the issue is still not closed, I would like to provide you with my solution in case it is still of interest to someone:
[code]

This is the result:
![2019-03-20_23:51:00](https://user-images.githubusercontent.com/6253527/54724351-16589a00-4b6b-11e9-8893-e93290f6c388.png)

**NOTE:** the `:if` clause prevents `dashboard` from blocking the opening of any file as an argument, when GNU Emacs is l

[2019-03-29 22:21] UnicodeAlt255 commented on #115
I don't use `use-package` and I found that this works:
[code]

[2019-04-11 14:59] ransomts opened #119 "Agenda widget is always empty"
The dashboard provided agenda widget is empty even though the `C-c a a` agenda command shows items for both the current day and the current week. I have several files in my `agenda-files` variable that these things are being pulled from, how would I go about fixing this?

[2019-04-14 20:43] borgauf opened #120 "Font sizes?"
The font sizes of my actual "recent files" on my dashboard are rather small. How can I increase this? I'm guessing it's not a dashboard issue?

[2019-04-22 15:15] vlurgio commented on #119
This is true for me as well, would love some help with this

[2019-05-08 01:37] testinggithub1222 opened #121 "Is it possible to have "dashboard-banner-logo-title" in multiple line align center or some margin?"
I have tried to set **(setq dashboard-banner-logo-title "half text \n another half")** but the problem is that, the first half text is align center inside Emacs while another half is showing on the left of the buffer in emacs. I have tried to add "\t\t\t" to indent the text to center but when switching to another pc, it shows in a difference location. It might be because computer screen resolution

[2019-05-18 02:55] ema2159 commented on #116
I did it myself with a couple of extra features. I'll create the pull request

[2019-05-18 02:55] #116 closed

[2019-05-20 07:43] JesusMtnez commented on #116
Thank you @ema2159 . I was thinking of working on something similar using some work emacs centaur did it integrating `all-the-icons`.

[2019-05-22 07:05] RenChunhui opened #127 "dashboard-set-init-info not work"
set `dashboard-set-init-info` is `t`,but didn't show info about the packages loaded and the init time,here is my code:

[code]

[2019-05-22 09:08] JesusMtnez commented on #127
I"m using it right now, and it is working. Could you try to update `emacs-dashboard` package?

[2019-05-22 09:10] JesusMtnez opened #128 "Can not select item when using icons"
Using `RET` to select an item from Emacs dashboard when the cursor is at the beginning of the line, just before the icon, does not access the item.

@ema2159 maybe you can provide some insights on this one. I'll try to investigate this later.

[2019-05-22 09:14] JesusMtnez commented on #128
This is the result when the cursor is just before `~/.emacs.d` project icon, and I try to access the project using `RET` key.
![screenshot_2019-05-22_11-12-53](https://user-images.githubusercontent.com/8639179/58162502-97730100-7c82-11e9-877b-8ded07fd674b.png)

[2019-05-22 09:32] RenChunhui commented on #127
Ok!

[2019-05-22 09:32] #127 closed

[2019-05-22 13:03] ema2159 commented on #128
Yes I'm aware of this problem. I've been navigating with tab meanwhile so the cursor falls directly in the text but I'll try to figure whats wrong and fix it!

[2019-05-22 17:21] seagle0128 commented on #128
I got the ultimate solution, and will submit a PR soon.

[2019-05-23 14:49] #128 closed

[2019-05-23 15:27] ema2159 opened #130 "Bookmarks and agenda doesn't work"
When a bookmark item is pressed it creates a new file instead of going to the actual bookmarked file. It seems that it's because it's taking the name of the bookmark instead of the path as the argument. When an agenda item is pressed it throws an error. This could be solved just by making agenda items non clickable. @seagle0128 mr. Zhang, please take a look at this when you're able to!

[2019-05-23 15:40] ema2159 commented on #130
The bookmark problem is probably also in the registers section

[2019-05-23 16:49] seagle0128 commented on #130
I missed the tests for org and bookmarks. Let me take a look.

[2019-05-23 17:03] ema2159 commented on #130
Don´t forget to check the registers also!

[2019-05-23 20:08] atimchenko92 opened #132 "Dashboard is not instantiated if custom bindings are added (using :bind keyword)"
Hopefully this is the right place to post the issue. I am using `use-package` to configure the `dashboard` package.
I have some troubles getting `:bind` to work with some custom functions. Here is my snippet:

[code]
With the :bind section active the whole dashboard will not be configured or instantiated. I have already tried placing the function declaration in :init, :config. I even tried using :

[2019-05-24 01:29] seagle0128 commented on #130
The PR #131 is ready.

[2019-05-24 03:22] ema2159 commented on #130
Nice! This package has improved incredibly in just about 5 days jaja

[2019-05-24 03:22] #130 closed

[2019-05-24 03:36] jcs090218 opened #133 "Helm doesn't active after update to version `20190523.1449`."
Once I updated `dashbaord` to version `20190523.1449`. Helm doesn't active when I clicked on the project link on the dashboard, instead it uses Emacs's default path searcher shown in gifs below.

| Previous Version | Version 20190523.1449 |
|:------------------:|:---------------------------|
|![old_ver](https://user-images.githubusercontent.com/8685505/58301163-f28a2c80-7e17-11e9-9b61-90fb579d333b

[2019-05-24 06:02] #133 closed

[2019-05-24 06:04] JesusMtnez commented on #130
:clap: Good work!

[2019-05-24 07:50] seagle0128 commented on #121
Do you want this?
<img width="2032" alt="image" src="https://user-images.githubusercontent.com/140797/58311488-ad77f180-7e3b-11e9-8919-db36367e3fee.png">

[2019-05-24 07:56] seagle0128 commented on #130
Yep! Amazing. While I was developing this feature in `Centaur Emacs`, I was thinking to merge back to the upstream, not just for Centaur, but worried it was not perfect. I didn't thought you liked it and  moved so fast 😀😀😀

[2019-05-24 12:28] jcs090218 commented on #121
This is great if we have this implemented!

[2019-05-24 14:37] jcs090218 commented on #57
Seems like this feature is implemented after version `20190523.1449`?

[2019-05-28 13:34] vxid commented on #132
This may be due to use-package rather than dashboard.
I just noticed the same behavior with mu4e.

[2019-05-28 21:35] atimchenko92 commented on #64
Try this out:

[code]

[2019-05-30 01:51] romatthe opened #136 "Issues with use-package and straight.el"
Hi,

I'm trying to use `dashboard.el` together with `straight.el` and `use-package`, but I can't seem to get it to work.

Here's my super basic setup:
[code]

Evaluating this causes the following problems:

1) I receive the following warning:

I think this makes sense, because I am using `straight.el`, which means I'm basically avoiding the use of `package.el`, which I'm never even properly initia

[2019-05-30 05:16] JesusMtnez commented on #136
I think your problem is here: https://github.com/emacs-dashboard/emacs-dashboard/blob/8494d4fb7e501450abb6e86ad5fcf60b9165fdb6/dashboard-widgets.el#L88

Since you are using `straight.el`, `package.el` is not being loaded and that call to get the number of active packages is failing.

[2019-05-31 08:53] romatthe commented on #136
Ah, seems likely that this is the culprit. Not sure how I managed to miss that line while scanning the package source.

I'll see if I can confirm that this is my problem and try to find a workaround for his.

[2019-06-02 15:24] #136 closed

[2019-06-03 03:52] jcs090218 opened #140 "Error after updating to version `20190602.1524`."
I got an error showing `void-function all-the-icon-fileicon` at the startup. I personally don't use `all-the-icon` package, can you make it compatible so the user can choose what style they want to use? Thank you!

**Edit:** I think the error starts after this PR #137.

[2019-06-03 06:00] JesusMtnez commented on #140
@jcs090218 could you please try this branch: https://github.com/emacs-dashboard/emacs-dashboard/tree/fix/do-not-require-all-the-icons

In #141 is the PR that I think would solve this issue. Let me know if it worked for you :wink:

[2019-06-03 06:19] jcs090218 commented on #140
@JesusMtnez Great! This solved the issue! Thanks for your effort. :D

[2019-06-03 06:22] jcs090218 commented on #140
I should keep this issue remains opened until the branch `do-not-require-all-the-icons` is merged. Feel free to close it after merging it!

[2019-06-03 07:23] JesusMtnez commented on #140
:smiley: I'm glad to hear it works!! I'll merge the PR then :shipit:

[2019-06-03 07:24] #140 closed

[2019-06-03 20:32] miwinning opened #146 "7 day agenda view"
Using (setq show-week-agenda-p t) for the 7 day agenda view does not work with (setq dashboard-set-heading-icons t).

It causes an error:- "Wrong type argument: char-or-string-p, nil"

This happens when run in GUI but not with emacs -nw

[2019-06-04 05:42] ema2159 commented on #146
I think we had this problem previosly or a similar bug, I'll try to see what's going on

[2019-06-04 22:14] snackon opened #148 "Could it be possible to put navigator buttons on different lines?"
Something like:

[code]
instead of:

[code]

[2019-06-05 05:21] ema2159 commented on #148
Not as it is right now. It's a possible future enhancement though.

[2019-06-06 11:19] seagle0128 commented on #148
I have some ideas to implement that, but it needs some time.

[2019-06-06 15:32] ema2159 commented on #57
@JesusMtnez this should be closed

[2019-06-06 20:16] ema2159 commented on #148
Not much it seems jaja, its done a ready to be merged.

[2019-06-07 07:07] #57 closed

[2019-06-07 14:28] #148 closed

[2019-06-07 14:41] seagle0128 commented on #148
Yeah, I got a simple but perfect solution, so it doesn't take as long as expected.

[2019-06-07 14:52] JesusMtnez opened #151 "Update screenshot"

[2019-06-15 21:28] Zzull opened #152 "Missing required library: 'seq'"
When loading the dashboard, I end up with the following error:
`dashboard-insert-startupify-lists: Symbol’s function definition is void: seq-take`

This is not a big deal since you just have to require it before to make it all work but probably still worth mentioning

[2019-06-16 17:48] andrewbanchich opened #153 "Allow custom ASCII startup banner too, not only PNG"
I see from the README: `;; 1, 2 or 3 which displays one of the text banners` but how can I add my own?

[2019-06-17 07:24] JesusMtnez commented on #153
As far as I know, you would need to added inside the package `banner` folder: https://github.com/emacs-dashboard/emacs-dashboard/tree/master/banners

Maybe a new feature request could be passing the path to a `png` file or `txt` file and handle those cases, since right now it only supports `png` files when passing a path as parameter for `dashboard-startup-banner`.

[2019-06-17 07:25] JesusMtnez commented on #152
Thanks for the tip @Zzull ! I didn't notice that. I'll add the `require` statement.

[2019-06-18 00:01] andrewbanchich commented on #153
Should I open a new feature request issue for this then?

[2019-06-19 15:21] jcs090218 opened #154 "Delete items?"
Is there a way to delete the currently existing item? Like removing a file from the `Recent Files: (r)` list.

[2019-06-20 01:43] ianpan870102 opened #155 "Dashboard is "prog-mode"?"
One thing that's been bothering me is that I'm trying to lazy load some packages that I added hook to prog-mode. But they seem to always be activated when I start up with Dashboard. Is Dashboard using prog-mode?

[2019-06-20 03:40] linwaytin opened #156 "Dashboard does not start correctly"
My dashboard is started without dashboard-mode enabled. The major mode is fundamental.
It still shows the recent files, but the keybinding and page-break-line do not work.
With `M-X dashboard-mode`, everything works well.

Does anybody has the same problem?

[2019-06-20 04:53] jcs090218 commented on #153
Would it be easier to just have a variable that point to the path of the text file?

[2019-06-20 19:53] JesusMtnez commented on #153
Let's keep these issue to track that feature. I'll rename it.

We could use the same variable to point to the banner we want to use, and make a logic so it could use both types correctly. It shouldn't be difficult. I'll try to work on that when I get some time :sweat:

[2019-06-20 19:54] JesusMtnez commented on #156
@linwaytin Could you please share you configuration?

[2019-06-20 19:56] JesusMtnez commented on #155
@ianpan870102 My common sense tells me it should not use `prog-mode`... But I can not assure you 100% it does not use it. I'll try to investigate :thinking:

BTW, could you share you `emacs-dashboard` setup code? Maybe there is something else requiring / using `prog-mode`. Just in case :smile:

[2019-06-20 19:58] JesusMtnez commented on #154
I suppose you can achieve that if `recentf` has a method to delete items from its list. I know `projectile` has a method to do that.

Let me know if this answers your question to close the issue

[2019-06-21 04:03] jcs090218 commented on #154
I was asking if `dashboard` would want to achieve something like this! It is okay if you don't want this feature in this package! :D I guess this issue is a new feature request? :/

[2019-06-26 15:43] Luis-Henriquez-Perez commented on #152
You only use `seq-take` one time. It's better just to take the elements manually than to load a whole library for just one `seq-take` use. I think it's important for dashboard to be as fast as possible.

[2019-06-26 16:54] Luis-Henriquez-Perez opened #158 "Error when setting `dashboard-items` to nil"
I don't think this should happen. I expected the dashboard to just popup the emacs logo and its startup messages and nothing else. I did not expect an error when I said I wanted no items.

This is the stack trace:

Debugger entered--Lisp error: (wrong-type-argument integer-or-marker-p nil)
  dashboard-insert-startupify-lists()
  dashboard-resize-on-hook()
  #f(compiled-function () #<bytecode 0x1e3

[2019-06-26 19:22] Luis-Henriquez-Perez opened #159 "Libraries should only be loaded when needed"
At the top of `dashboard.el` many libraries are loaded immediately.

[code]
I'll pick on `recentf` but my argument follows for any of the other libraries:
Loading `recentf` immediately like this is not optimal because `dashboard` does not even know whether `recentf` will be needed yet. User's that prefer not to include `recentf` in `dashboard-items`  shouldn't have to play the additional startup t

[2019-06-26 19:28] Luis-Henriquez-Perez opened #160 "page-break-lines should be an optional dependency"
I don't really understand why this package is a _required_ dependency. It seems like it should be quite possible to display the content of the dashboard without page breaks. Or even, if you insist on some delineation you could have this:  `---------------------------------` .

[2019-06-27 01:51] ianpan870102 commented on #155
Sure @JesusMtnez , my Dashboard set-up code is just these few lines:

[code]

[2019-06-27 04:30] #151 closed

[2019-06-27 04:56] JesusMtnez commented on #152
@Luis-Henriquez-Perez @Zzull Please, send your :+1: if you agree with https://github.com/emacs-dashboard/emacs-dashboard/pull/161

[2019-06-27 05:08] JesusMtnez commented on #159
@Luis-Henriquez-Perez could I have your thoughts about https://github.com/emacs-dashboard/emacs-dashboard/pull/162 ?

[2019-06-27 05:09] JesusMtnez commented on #154
@jcs090218 Of course it would be a great feature. Feel free to open a PR to add it :+1:

[2019-06-27 05:14] JesusMtnez commented on #160
I agree that `page-break-lines` could be made an optional dependency. Right now I do not have plenty of time to work on something like that. But feel free work on that and open a PR. I'll try to give feedback whenever I can :smile:

[2019-06-27 05:21] Luis-Henriquez-Perez commented on #160
Ok sounds good. 👍 I was already planning to PR some things once I get more familiar with the code.

[2019-06-27 05:36] Luis-Henriquez-Perez commented on #159
It looks good. I think you can also do the same thing with 'recentf' and require it in 'dashboard-insert-recents'.

[2019-06-27 13:39] JesusMtnez commented on #159
Some `recentf` features are being used in `dashboard.el`. I'll try to tackle that in another PR.

[2019-06-27 13:42] #152 closed

[2019-06-27 13:52] JesusMtnez commented on #158
I completely agree it should display nothing, not fail :thinking: . I'll try to take a look on this

[2019-06-27 20:33] ema2159 opened #163 "Invalid face attribute :inherit (quote font-lock-keyword-face)"
I am getting that error and I think it's being caused by Dashboard. Does anybody else has this problem?

[2019-06-27 21:14] ema2159 commented on #163
It seems it's because of the navigator,  do you know something about this error @seagle0128? or are you having it?

[2019-06-27 21:20] ema2159 commented on #163
Nah, forget it, It was just that I was putting an unnecessary quote in front of the navigator elements faces, it  still worked for some reason but showed those errors. Removing it removes the errors.

[2019-06-27 21:20] #163 closed

[2019-06-28 01:00] jcs090218 opened #164 "Recent files no longer working."
After updated version to `20190627.1342` my `Recent Files` remain empty. I think this 60106ae8f8c456c6b43eceb1f18c7235157ea7bc patch is causing it.

[2019-06-28 04:47] #164 closed

[2019-06-28 08:59] JesusMtnez commented on #163
Glad to see it solves itself :smile:

[2019-06-28 21:12] mkschleg opened #166 "Recent files removed on buffer refresh"
When dashboard-refresh-buffer is called all the recent files are removed, even though the recentf-list is still set with files in it. I have a really minimal config with use-package, and only ivy installed.

I also have an issue when opening a frame after starting a daemon and recent files not being populated, but this is probably to do with the dashboard-refresh-buffer.

[2019-06-29 13:31] ogdenwebb opened #168 "Dedicated face for icons or way to customize them"
Currently emacs-dashboard doesn't support that, so the widget-button face overrides both icons and links colors, it looks odd in my opinion.
For more details see https://github.com/ogdenwebb/emacs-kaolin-themes/issues/25

[2019-06-29 20:49] alecvn commented on #146
Can confirm I have the same problem.  Is there any solution for this yet?

[2019-06-29 20:55] alecvn opened #169 "Navigator isn't showing up"
I have the following configuration on Emacs 26.2, Ubuntu 18.04 but the navigator doesn't appear:

[code]

[2019-07-01 00:23] mkschleg commented on #166
After some testing, it seems if I manually activate recentf-mode in 'M-x' and then resize the buffer it is populated as expected.

[2019-07-01 05:31] JesusMtnez commented on #166
@mkschleg could you please share your configuration? I haven't been able to reproduce the error :worried:

[2019-07-01 05:34] JesusMtnez commented on #169
@alecvn That behavior is expected right now. If you look at https://github.com/emacs-dashboard/emacs-dashboard/blob/master/dashboard-widgets.el#L95-L100 , there is no default value for the navigator, so nothing will be shown.

Maybe I good idea would be creating a default value for that. I'll try contribute that this week :smile:

[2019-07-01 07:15] alecvn commented on #169
No problem @JesusMtnez!  I think the README shows nicely how to customize the navigator bar, but maybe we could just add a note that there are no defaults, for clarity.

[2019-07-01 09:21] jcs090218 opened #170 "Press the button when on the same line."
I found pressing return and not activating the button is a bit inconvenience. This is just a new feature advice.

[2019-07-01 16:40] mkschleg commented on #166
For sure. I'm just getting started on my custom config (moving away from Spacemacs), so it is pretty bare.

https://github.com/mkschleg/.emacs.d

[2019-07-01 23:42] alecvn opened #172 "Trying to create a custom dashboard section"
Suffice it to say that my elisp is very, very poor.  I've followed some examples and I've battled through some errors but I'm finally stuck with the following code.

I basically want to show a widget which takes a list of package names, shows them and calls `describe-package` when the user clicks on them.

I'm especially unsure of the make-up of the `action` parameter I'm passing to `dashboard-ins

[2019-07-02 04:49] luksamuk commented on #119
Just a small note, since this might help with a bugfix.

Inserting the agenda widget at any point seemed to "invalidate" everything that comes after it for me (e.g. the footer and any section after the agenda section, including the agenda itself, wouldn't appear).

I narrowed it down to a [specific line](https://github.com/emacs-dashboard/emacs-dashboard/blob/7063ea29edb328fdd5b5206a418a4dcbf39daf

[2019-07-02 06:22] JesusMtnez commented on #166
@mkschleg which version are you using of `emacs-dashboard`? I haven't been able to reproduce using your configuration. Every time I reload it, it does populate recent files :thinking:.

Also, I notice your configuration could be improved. You are modifying head icons but not using icons. The following configuration should add icons to your dashboard:

`init-dashboard.el`:
[code]

[2019-07-02 06:24] JesusMtnez commented on #166
Feel free to reach me if I could help you setting up your emacs from scratch. I've been doing that for almost 6 years by now. Here you could see my config: https://gitlab.com/JesusMtnez/emacs.d

[2019-07-02 06:36] JesusMtnez commented on #172
I think you are missing one parameter in for `dashboard-insert-section`:

[code]

For example, for `projectile` section:

[code]

The last parameter for `dashboard-insert-section` is `(abbreviate-file-name el)`, which would return the abbreviate form for each project.

[2019-07-03 04:30] JesusMtnez commented on #146
Could you confirm #173 fixed the problem? I'm not an org-agenda user :sweat:

[2019-07-03 04:35] jcs090218 commented on #170
I guess we can close this?! :D Thanks for the merged!

[2019-07-03 04:35] #170 closed

[2019-07-03 08:07] miwinning commented on #146
Confirmed fix works

[2019-07-03 08:08] JesusMtnez commented on #146
Thank you @DuCorey for the fix
Thank you @miwinning for the confirmation!

Great job!

[2019-07-03 08:08] #146 closed

[2019-07-03 10:25] alecvn commented on #172
Hey @JesusMtnez, thanks for the help.  I'm so close now.
[code]
Everything compiles nicely now but when I select a package I'm getting `No package specified`.  So I feel like it's not properly passing the packages to describe package.  Do you have any pointers here?  Otherwise I'll just have to dig in and close this issue.

[2019-07-03 14:10] JesusMtnez commented on #172
Do not worry about closing the issue, it is always good to track these things and it is the right place to ask these questions. I'll try to investigate later :thinking:

[2019-07-03 17:56] alecvn commented on #172
Hi again @JesusMtnez.  So I believe I've found the problem, but I'm as yet not 100% sure how I can solve it and how you'd like something like this to be handled.

So as far as I can tell, using `dashboard-insert-section` inadvertently uses `dashboard-insert-section-list` which handles everything in the list as a representation of some or other filename, unless the section name is `Agenda for today

[2019-07-03 22:08] alecvn commented on #172
Okay, I got my widget functionally working, if not displaying perfectly.  I'm currently unable to get the header icon to display with:

    (dashboard-modify-heading-icons '((dashboard-package-widget . "package")))

I feel like the assumption that `dashboard-insert-section-list` makes that any value that looks like a path is handled like a path is maybe a little limiting.  For instance, I have an

[2019-07-03 22:11] alecvn commented on #172
FYI this is what ended up working for my widget:

[code]

[2019-07-04 13:04] Luis-Henriquez-Perez opened #174 "Always prompting whether to save dashboard buffer"
Before quitting emacs  I'm prompted like to save the dashboard buffer. I'm not sure why this is happening. It shouldn't because `*dashboard*` is not a file buffer. Anyway I added this line in the `with-current-buffer` block in `dashboard-insert-startupify-lists`.

[code]

[2019-07-04 17:28] alecvn commented on #172
@JesusMtnez so the widget I have created looks at packages that you have installed and checks the package archives for new versions of that package, and allows you to install the new version.  I'd be happy to contribute it to the emacs-dashboard repo if you'd be interested in having it.  The widget itself looks like this:

[code]

It requires only one additional method (`get-installed-packages-wit

[2019-07-09 13:32] #132 closed

[2019-07-09 14:45] laralex commented on #156
I encountered this one too, when tried to apply icons for widgets
[code]

Without lines
[code]
Everything is fine, though without icons aswell
As mentioned, `M-x dashboard-mode` fixes the problem, but it's inconvenient

[2019-07-09 15:33] linwaytin commented on #156
Hi,

It seems the problem has been fixed.
This morning I started emacs and everything looks fine.

This is my setup for dashboard.

[code]

I don't need to do `dashboard-mode` manually.

[2019-07-09 21:11] laralex commented on #156
It turned out that `all-the-icons` is missing reference on actually existing icon ["bell"](https://octicons.github.com/icon/bell/) from `octicons`. Trying to use it in `dashboard` caused glitch. Of course it's not a package's problem, but error checking would be appreciated (skipping invalid icons instead of breaking whole buffer) #

[2019-07-10 04:22] JesusMtnez commented on #172
@alecvn it sounds like a good contribution. Feel free to ad new widgets

[2019-07-10 04:23] JesusMtnez commented on #174
@Luis-Henriquez-Perez I've been trying to reproduce the error, without luck :worried: . Could you share your configuration?

[2019-07-10 11:19] Luis-Henriquez-Perez commented on #174
Ok. [This is my configuration](https://github.com/Luis-Henriquez-Perez/.emacs.d/tree/no-use-package). You should just be able to just download and and run init.el to set it up. The buffer modified thing is still happening (I just checked). I'll help you out and try harder to debug it today. It's probably some default variable I'm setting.

[2019-07-10 14:03] Luis-Henriquez-Perez commented on #160
Hey, so I'm more familiar with the code now. Looks like it's going to be really easy to remove `page-break-lines` as a dependency. It's only used 2 times in the code.

The integration between dashboard and `page-break-lines` is so thin that it seems that the ideal solution, would be to just not have page-break-lines in dashboard at all and have the user do this if they want the integration.

[code

[2019-07-10 14:22] JesusMtnez commented on #160
I would like to see this PR to drop the requirement of `page-break-lines`. As far as I understood, it makes sens to remove it. Thank you so much for digging into this one.

BTW, I see you use `leaf.el`. Any reason in particular to move to `leaf.el` from `use-package`? I've seen it got a lot of traction recently, and I've been thinking of moving to `leaf.el` since it has `straight.el` integration i

[2019-07-10 14:39] Luis-Henriquez-Perez commented on #160
The main reason I made the change that it's _much_ easier to extend and to understand it because it's lower level. I don't have to know about things like `use-package-process-keywords` or `use-package-concat` to extend leaf. Customizing it is essentially just pushing forms into lists. The only values you need to know are `leaf-name` (the name of the package) and `leaf-body` the value of the keywor

[2019-07-10 14:40] JesusMtnez commented on #160
Thank you so much for the reference, I'll go through it for sure :smile:

I'll try to review as soon as I can, I've been kind of busy lately :worried:

[2019-07-10 14:49] Luis-Henriquez-Perez commented on #160
Ok. I hope it's helpful. :smile:

No rush, I just removed two lines in the PR.

[2019-07-11 12:33] Luis-Henriquez-Perez commented on #174
I figured it out. Turns out it was my own fault. I used `initial-buffer-choice` to switch to the dashboard, but instead of giving it a buffer I gave it the buffer name as a string, "*dashboard*". In `command-line-1`, this would call `find-file-no-select` which cause dashboard to be considered a file buffer (even though it didn't point to a file).

[2019-07-11 13:24] Luis-Henriquez-Perez commented on #158
This error is caused because of `(goto-char (car (last dashboard--section-starts)))`. `last-dashboard--section-starts` is nil when `dashboard-items` is nil. This results in `(goto-char nil)` which gives an error.

[2019-07-14 22:11] vermiculus opened #176 "Some places not using dashboard-buffer-name"
https://github.com/emacs-dashboard/emacs-dashboard/blob/f76be664ef3e890de03816fd8a2f7e3f74f04982/dashboard.el#L250

https://github.com/emacs-dashboard/emacs-dashboard/blob/f76be664ef3e890de03816fd8a2f7e3f74f04982/dashboard-widgets.el#L255

this is causing problems when customizing the dashboard buffer name -- specifically, a buffer `*dashboard*` still gets created, but is mostly empty (save a few

[2019-07-15 01:15] flima21 commented on #119
It seems to me that this problem has not been solved yet. I can not show the calendar for any items.

[2019-07-15 14:34] flima21 commented on #119
To show agenda in dasboard the work for me file org
[code]

[2019-07-15 17:07] ema2159 commented on #168
I was really really easy to solve, I'll submit a PR!

[2019-07-15 20:13] #174 closed

[2019-07-21 05:04] #168 closed

[2019-07-22 02:32] ianpan870102 opened #179 "Dashboard PNG conflicts with Solaire mode background"
This isn't that big of an issue, but dashboard fails to take into account the influence it inherits from solaire mode, considering solaire a popular package. **Notice the lighter square background around the Emacs logo**. This happens on all themes. Attached are screenshots of **Zenburn** and **Solarized Dark** for your reference.

<img width="645" alt="Screenshot 2019-07-22 at 10 29 18 AM" src="h

[2019-07-22 04:56] ema2159 commented on #179
Hi again Ian jaja. I think this problem occurs only in Mac. I know @seagle0128 had this problem before, so maybe he could tell you how to solve it

[2019-07-22 05:24] seagle0128 commented on #179
Yep, I have the same issue on macOS, only with emacs-plus. It's fine with vanilla Emacs 26.2 for me.

[2019-07-22 07:33] ianpan870102 commented on #179
I see. I'm indeed running emacs-plus 27.0.50

[2019-07-22 07:43] seagle0128 commented on #179
I mean it may be an issue with emacs-plus.
Try `C-h C-a` to check the logo. I think you will observe the same issue.

![image](https://user-images.githubusercontent.com/140797/61614951-7ab17480-ac97-11e9-9fee-7d6b3a6a061e.png)

[2019-07-22 07:46] ianpan870102 commented on #179
True, you're right. Since it's not actionable here in this repo, I'll close the issue.

[2019-07-22 07:46] #179 closed

[2019-07-22 07:49] seagle0128 commented on #179
I think you can file an issue in `emacs-plus` repo.

[2019-08-08 12:47] taigacute opened #180 "The length of the line is only show half"
Hi, i am new come to emacs. but i got some problem when i use dashboard , i found the length of the line only show half. i found dashboard use the page-break-lines. so should i ask in here?
please see this pic .
![image](https://user-images.githubusercontent.com/41671631/62704253-7e762280-ba1d-11e9-96c1-d38b70872d30.png)

[2019-08-08 19:45] winny- commented on #180
Hello! Can you share:

- The output of `M-x version RET` -- you can yank it from the `*Messages*` buffer (`C-h e`)
- All relevant lines in your `init.el` that deal with emacs-dashboard

[2019-08-09 03:27] taigacute commented on #180
@winny-  thanks for your reply
version:
[code]
dashboard.el
[code]

[2019-08-11 05:20] taigacute commented on #180
Hi  any idea?

[2019-08-11 09:23] taigacute commented on #180
i use this minal config can reproduce this problem
[code]

![image](https://user-images.githubusercontent.com/41671631/62832145-bfa84580-bc5c-11e9-92db-8ff5612455c8.png)

[2019-08-11 10:52] winny- commented on #180
BTW: Does `g` refresh and the buffer and fix the appearance of the horizontal lines?

On my Emacs using that skeleton configuration the issue does not appear to reproduce the issue. It might be related to the Cocoa frontend?

![works](https://user-images.githubusercontent.com/3893828/62832926-f601a880-bbfb-11e9-9954-c55d11610312.png)

This is my version string: `GNU Emacs 26.2 (build 1, x86_64-pc-

[2019-08-11 11:05] taigacute commented on #180
@winny-   i can reproduce on emacs-mac and emacs for osx

[2019-08-11 14:32] taigacute commented on #180
@winny-  can you use my config to test it ? https://github.com/hardcoreplayers/hardcoremacs

[2019-08-11 14:51] taigacute commented on #180
by the way i use the minal config in terminal

![image](https://user-images.githubusercontent.com/41671631/62835384-85559d00-bc8a-11e9-8a40-434f35fca753.png)

[2019-08-12 06:25] #180 closed

[2019-08-14 06:53] bk138 opened #181 "prevents treemacs window from being able to get resized"
Hi there!
With dashboard.el installed, Treemacs windows cannot be resized although they should be. Removing dashboard results in the Treemacs window to support resize again.

The related issue over there, which was with which-key, is https://github.com/Alexander-Miller/treemacs/issues/376

My config is https://github.com/bk138/dotfiles/blob/master/.emacs

Please let me know how I can help.

[2019-08-15 10:52] bk138 commented on #181
Found out this has nothing to do with dashboard.el, it seems `treemacs-toogle-fixed-width` has to be called with the treemacs window being the active one to take effect.

[2019-08-15 10:52] #181 closed

[2019-08-22 14:50] paxperscientiam opened #184 "Mouse click errors"
Hello, I'm trying out emacs-dashboard. It works well in Emacs for Mac, but fails in dumb terminals. Basically, it seems like mouse clicking is broken.

![ezgif com-gif-maker](https://user-images.githubusercontent.com/7539871/63524854-b6c03b00-c4ca-11e9-9020-675b67bdf96d.gif)

[2019-08-24 14:19] MoHKale opened #185 "let users customise the size of dashboard icons."
it seems to be hardcoded into the [scripts](https://github.com/emacs-dashboard/emacs-dashboard/blob/master/dashboard-widgets.el) as values between 1.0-1.2. However these look a little too large on my config and I'd like the option to be able to scale them down. Specifically in `dashboard-insert-section-list` and `dashboard-insert-heading`.

S.N. totally love this package. just made the move from s

[2019-08-29 07:43] fredefox opened #187 "dashboard-{next,prev}-line on by default"
I propose to add

[code]

As a default for `dashboard-mode`. I realize that I can just add this to my own config file (and I have). I just thought other people might be interested as well. This is in line with Buffer Menu.

[2019-09-03 02:35] Termanater13 opened #188 "weird line breaks with custom dashboard-items set"
I use use-package in my init.el and have no idea if how I have it configured is the issue but when I set the dashboard-items the horizontal lines disappear and become `^L`. when I comment out the `:custom` part the lines return I also can only see recent items. When I use `setq` to do the same thing outside of `use-package` it looks fine with the settings, but not when `:custom ` is used.
I also h

[2019-09-17 18:50] jacquesdurden opened #190 "Fullscreen impossible with dashboard"
Hi,

Dashboard is really great and neat! However, I can't get it working in fullscreen (maximized) mode when Aquamacs starts (didn't try on emacs). To ensure fullscreen mode, I tested both of these two commands (set in my preferences.el) without any success:

[code]
or

`(toggle-frame-maximized)`

Interestingly,
* when Aquamacs is running, if I run the last one, fullscreen is activated;
* if I dea

[2019-09-18 11:17] jacquesdurden commented on #190
Ok, I found a solution. From this [page](https://www.emacswiki.org/emacs/FullScreen#toc3), I learned that it's important to make emacs wait a bit before to maximize a frame (or get it fullscreen). Therefore, adding

(run-with-idle-timer 0.1 nil 'toggle-frame-maximized)

or

(run-with-idle-timer 0.1 nil 'toggle-fullscreen)

solve the issue finally. Maybe this could help somebody else.

Best,
Lauren

[2019-09-18 11:17] #190 closed

[2019-09-22 04:25] mohkale opened #191 "`invalid face attribute: inherit nil` when using the navigator"
I've had this issue for a little while, but today I finally put in the effort to try and find out what's causing it. When ever I'm on the dashboard buffer, my messages buffer get's filled with:

[code]

repeating indefinitely. I've only found this to happen whilst the navigator is active, so I can only presume that's a prerequisite for the error.

To replicate, you can do the following:
- run `ema

[2019-09-25 04:40] InspectorMustache opened #193 "Lines only stretch half-way when locale is Chinese"
This is probably the same issue as #180, but since that one's closed, I thought I open a new one.
As it turns out this is caused by running within a Chinese locale. You can reproduce this behaviour by running  `env LC_CTYPE=zh_CN.utf-8 emacs`.
I guess this could have something to do with double-width characters? Just a guess, though.

[2019-09-25 04:43] InspectorMustache commented on #193
Sorry, I should probably open this in page-break-lines.

[2019-09-25 04:43] #193 closed

[2019-10-06 22:08] jconway4 opened #195 "Customize variables for what to do for each section?"
Could we get a variable for this package to customize the behavior for selected links?

e.g change the project section to open the project folder in dired instead of opening it with projectile?

I am going to modify this for myself. It would be nice to have a built-in customize-mode option for it though.

[2019-10-13 04:35] nasyxx opened #196 "Error (void-function nil) when dashboard-resize-on-hook"
Here is the traceback:

[code]

Looks like there is a problem with my projectile?

In fact, when I deleted projectile/known-projects.el, there was no more error.  However, I cannot do that every time.

[2019-11-11 12:18] mtreca opened #197 "Resize hook affects all frames"
When using dashboard and emacsclient, resizing an emacs frame triggers the resize hook and all frames, making some frames uncentered.

Before:

![2019-11-11-131543_1920x1080_scrot](https://user-images.githubusercontent.com/16440823/68586781-b0b47780-0485-11ea-9da0-b919fa865afc.png)

After:

![2019-11-11-131552_1920x1080_scrot](https://user-images.githubusercontent.com/16440823/68586747-a0040180-04

[2019-11-23 13:02] joncarr opened #199 "dashboard buffer is not created"
When starting Emacs the dashboard buffer is never created. I receive an error telling me that my initial buffer choice is not a live buffer. The buffer I am looking for as the initial buffer is `*dashboard*`.

Here is my use package configuration for the package:
[code]
This worked great for the longest time then it just seemed to stop opening the dashboard one day. I receive no other errors and w

[2019-12-03 13:57] utraz commented on #199
I'm having the same issue, It just stopped showing up.

[2019-12-13 01:55] hakantunc commented on #199
Can you try `:init` instead of `:config` for the function call `dashboard-setup-startup-hook`?

[code]

[2019-12-13 17:38] utraz commented on #199
Still nothing

[2019-12-17 02:34] joncarr commented on #199
This worked for me. Thanks!

[2019-12-27 10:40] seagle0128 opened #203 "[Question] create image"
Hi,

I open this issue just for inquiry of creating the banner image. I noticed if `imagemagick` is available, the image will be created with `'imagemagick` type, which will cause the different background in my env as below.

![image](https://user-images.githubusercontent.com/140797/71514108-0348d680-2902-11ea-95c4-219b038468fa.png)

But if just using `(create-image banner)`, all look fine. My I k

[2019-12-28 13:22] simpers commented on #160
Any news on this? When I first start the dashboard buffer the lines aren't showing (I prefer this) but they show on a redraw and will then stay for the rest of the time. Which is a shame, since they change the whole aesthetics of the dashboard :thinking:

[2020-01-09 09:14] jcs090218 opened #206 "No undo history."
I think you would just need to add `(buffer-disable-undo)` to `dashboard-mode`.

[2020-01-10 08:50] jcs090218 commented on #184
What terminal are you using? Just the default terminal from Mac? Might need more information on this.

[2020-01-11 04:40] paxperscientiam commented on #184
@jcs090218 iTerm2 on macos

[2020-01-12 09:14] csevast opened #208 "Optional activation of dashboard"
I want to adapt my `init.el` in a way the `dashboard` to start optionally. I want to have different Emacs instances, with or without `dashboard`, using the same initialization file. Unfortunately, when the `dashboard-setup-startup-hook` is evaluated after Emacs' start-up nothing happens. Is there any `dashboard` function to start displaying it's buffer after Emacs' start-up?

[2020-01-20 11:07] JesusMtnez commented on #203
Not sure why it is handled using `imagemagick`. I think we could change that to `create-image` and see how it works :thinking:

[2020-01-20 11:08] JesusMtnez commented on #184
I think the problem is not related to `emacs-dashboard`. I do not use MacOS, so I could not assist you here.

Did you find a way to fix it @paxperscientiam ?

[2020-01-20 13:16] seagle0128 commented on #203
Since Emacs27, `imagemagick` is not necessary. Emacs use the built-in API to handle images.

https://github.com/emacs-mirror/emacs/blob/emacs-27/etc/NEWS

This is due to security and stability concerns with ImageMagick.  To
override the default, use 'configure --with-imagemagick'.

[2020-01-20 14:58] #206 closed

[2020-01-30 04:11] ransomts commented on #119
fwiw, this has started to work for me. I'll close this out but others should re-open if they'd like to keep reporting

[2020-01-30 04:11] #119 closed

[2020-01-31 13:07] LEXUGE opened #210 "Under the daemon mode, some icons are not loaded."
Under the daemon mode of running emacs, there is a period of time in which the `window-system` is `nil`, which results in a partially ASCII or completely ASCII interface for the dashboard.
And also the icons are not properly loaded under this scenario. As you can see here.
![photo_2020-01-31_18-01-26](https://user-images.githubusercontent.com/13804737/73541418-54059f00-446d-11ea-9707-bb5b4ea63520.

[2020-01-31 14:24] LEXUGE commented on #210
close it due to misopening.

[2020-01-31 14:24] #210 closed

[2020-02-14 02:12] jcs090218 commented on #199
That is strange.. I reckon somehow the `dashbaord` itself is `defer` loading and that is why `dashboard` wouldn't show up in the first place.

Anyway, if the problem is resolved. We should close this issue! Thank you!

Ping @joncarr @utraz

[2020-02-14 02:14] jcs090218 commented on #197
Just to confirm, you are talking about the image aren't centered in the second image? Is the correct? Thanks!

[2020-02-14 02:23] jcs090218 commented on #155
I think the issue can be closed since dashboard is no longer derived from `prog-mode`.

[2020-02-14 03:33] #155 closed

[2020-02-14 05:20] JesusMtnez commented on #155
Thank you @jcs090218 @ianpan870102

[2020-02-14 08:33] vxid commented on #197
@jcs090218 Yes exactly.

[2020-02-14 16:19] #199 closed

[2020-02-15 05:33] jcs090218 commented on #208
Try this.

[code]

[2020-02-16 23:12] yurikoif opened #215 "Support for counsel-projectile"
Dashboard is amazing, but it supports projectile rather than its variation counsel-projectile.
When I try to open a project, the file list is shown in a raw projectile-style single line mini-buffer, but what I want is a counsel(ivy)-style mini-buffer.

[2020-02-17 12:32] JesusMtnez opened #217 "Fix CI"
Current CI does not work:

- [ ] `let-alist` dependency necessary for emacs 25.
- [ ] `package-lint` has been integrated in `elisp-lint` and it is throwing some errors. It has been disabled for now.
- [ ] Some linting erros

[2020-02-21 03:48] jcs090218 commented on #217
I think is related to this?

[package-lint/issues/154](https://github.com/purcell/package-lint/issues/154)

[2020-02-21 06:32] #217 closed

[2020-02-22 16:09] seagle0128 opened #219 "dashboard-footer is not respected"
I found `dashboard-footer` is not respected now. Whatever I set it, it won't be displayed, while other random messages instead.

[2020-02-25 04:01] jcs090218 commented on #219
Due to this commit [198daac](https://github.com/emacs-dashboard/emacs-dashboard/commit/198daacdab2bf410b277dee4995568633b105845). You can simple just change the value of `dashboard-footer-messages` variable to ensure the footer you want to be displayed.

[2020-02-25 07:41] jcs090218 commented on #219
@JesusMtnez You might want to close this too?

[2020-02-25 07:44] #219 closed

[2020-02-25 10:06] seagle0128 commented on #219
Thank you for updating documentation!

[2020-02-26 12:04] jsigman commented on #215
Also came here looking for this!

[2020-02-27 10:20] mohkale opened #223 "org-agenda widget: render links properly"
the org agenda widget seems to render agenda items as plain text, even when they contain special constructs such as links

eg.

this is how it appears on the dashboard

![a](https://user-images.githubusercontent.com/23294780/75435283-b9548f00-594a-11ea-94db-70e69212ddad.PNG).

[2020-03-27 02:43] JacksonGariety commented on #58
Still a problem.

[2020-03-27 08:30] BBurkhardt commented on #58
Yes, same here

Thanks alot for the suggestion! Much appreciated.

[2020-03-27 08:46] BBurkhardt commented on #58
Hm, thanks a bunch for the tip @SysConKonn, I'm using the following font settings:

[code]

If I comment out the first of the two lines, the separator lines behave as intended.
Is there anything wrong with that first line?

[2020-04-11 12:53] Phoenix181 opened #225 "Dashboard is not initializing at startup of emacs"
[code]
I'm using the above config for dashboard but dashboard is not showing at startup buffer. But dashboard is loaded and I can use dashboard functions with `M-x`.

[2020-04-11 14:56] #225 closed

[2020-04-16 17:17] Hkyx commented on #46
Hi @rakanalh ,

Go the same issue on emacs 26.3
cfg :
[code]
got the no such file or directory error when start my emacs

[2020-04-17 08:05] DanGNU opened #226 "dashboard-agenda doesn't show all items from org-agenda."
**Background**

Org mode has 3 ways to mark the timestamp of an entry, it can be with keywords or with the timestamp alone. When it has "DEADLINE" the entry is supposed to be finished before that time, when is "SCHEDULED" the entry is supposed to be started after that time, and when it is just a timestamp the entry is supposed to happen at that moment. The last one is used for arranguements, dates

[2020-04-19 12:13] krzkrzkrz commented on #153
Would like this too. Any updates here?

[2020-04-30 18:01] Hkyx commented on #153
you can create a 4.txt and put your ascii in my case it work.

[2020-05-01 14:16] jcs090218 commented on #153
I think replacing the current path is a work around. But it would be great we can point to the file directly! 😄

[2020-05-01 14:19] Hkyx commented on #153
yeah but I think it's probably not the most important think, like I got a good config file and if I save it and refresh dashboarfd all works, If I close/open emacs, dashboard use only the half of the config file. so a txt file to create is a little think ;p

[2020-05-16 15:08] mohkale commented on #223
There's no need for this anymore, for anyone that's having issues. I suggest trying out [org-link-minor-mode](https://github.com/seanohalpin/org-link-minor-mode)

[2020-05-16 15:08] #223 closed

[2020-05-16 20:05] Dragoncraft89 commented on #158
This one was resolved by #204 I guess.

I can't reproduce it anymore on the latest master

[2020-06-24 17:26] mohkale commented on #215
not sure what you mean? Could you post a screenshot of what you'd like to be shown and what is actually shown?

[2020-06-24 18:23] cherrry9 opened #231 "Dashboard displays ^L between items and buffer is modifiable."
![preview](http://0x0.st/i4DW.png)
Configuration:
[code]
I thought it was something with character encoding so I set it in my configuration:
[code]
but it doesn't work.

I also noticed that keyboard shortcuts like `<TAB>` don't work, they just modify the buffer, I can't select menu items because `<RET>` just inserts a space. Here is [demo](https://0x0.st/i4D7.mp4)

[2020-06-25 09:30] yurikoif commented on #215
Thank you for replying.
Selection minibuffer in cousel-projectile looks like this:
![Screenshot from 2020-06-25 05-19-44 (1)](https://user-images.githubusercontent.com/10281921/85693651-6d211d80-b6a4-11ea-9ab0-2e9496066189.png)
while dashboard uses original ido style selection minibuffer:
`[project-name] Find file: {a | b | c | ...}`

[2020-06-25 12:57] mohkale commented on #215
which command are you running to get a list of projects to switch to?

These are all the commands my dashboard install has available:

[code]

[2020-06-27 01:21] ricardoricho commented on #215
Hi, I've just submitted a PR to custom the function that I use with [perp-projectile](https://github.com/bbatsov/persp-projectile).
While I was testing I found `(setq projectile-completion-system 'ivy)` tells projectile always use ivy.

[2020-07-01 19:47] mtreca commented on #231
Do you have page-break-lines installed on your system?

[2020-07-07 15:05] #231 closed

[2020-07-07 15:06] cherrry9 commented on #231
it fixed my problem, thanks.

[2020-07-14 14:08] jsigman commented on #215
@ricardoricho When I tested this with dashboard it doesn't do anything when I select a project. Thanks though

[2020-08-30 01:32] jacksonbenete opened #236 "How to reopen the Dashboard"
Hello there,
I'm pretty new to Emacs and to Lisp, so I don't have much experience. I've installed dashboard in my custom Emacs and I would like to be able to "reopen" the dashboard, like if the dashboard buffer is killed or closed I could call it with a shortcut.

That's what I've tried:
[code]

The problem is that, if the dashboard is "hidden" (I'm in another buffer), the get-buffer-create gives

[2020-08-30 08:52] conao3 opened #237 "dashboard is missing for init.el which is not a normal place"
Hi,
I get some issue for my `leaf` from @AndersonTorres (https://github.com/conao3/leaf.el/issues/457)

When I receive this type of issue, I create and debug a minimal init.el.
I did the same thing this time, but the dashboard doesn't seem to work with this init.el.
(Actually, it creates a buffer called `*dashboard*`, but it doesn't come to the top edge.)

Do you reproduce this problem?

Save belo

[2020-08-30 19:52] jacksonbenete commented on #236
I'm a little confused because I'm learning Racket and not Emacs Lisp, so I'm not sure how to do some things yet.
This is what I thought so far, but the get-buffer doesn't seems to return the name and dashboard-setup-startup-hook looks like
isn't the correct function to call in this point because it doesn't work.

[code]

Maybe I should use buffer-live-p, or maybe there is a way to do something lik

[2020-08-31 21:46] jacksonbenete commented on #215
@jsigman , @ricardoricho solution worked for me.

![image](https://user-images.githubusercontent.com/2954722/91771434-625d9a00-ebb9-11ea-9328-43d3afc7381f.png)

Maybe Counsel needs any special call/require that you're not using?
I will show you the relevant conf in my init.el, maybe it will help:

[code]

That's all the conf related to "find" I have. I didn't tested removing one or another to see

[2020-09-01 16:43] bbond2980 commented on #226
Hey Dan, were you ever able to write a solution to this? I just spent an hour trying to configure setup to show timestamped items to no avail, and would love this as a feature. I'm also not much of a lisper, so I'm not sure I'd be able to implement a fix either.

[2020-09-01 17:31] DanGNU commented on #226
Hi, sadly no, I got tired of trying and decided to just start emacs with org-agenda, in the end that was what I was looking for. I still think that there should be a way to implement some org-agenda features to show the coming events better, I'm not a lisper and also not smart enough for the task.

If it's of any help, I have this in my init file:
[code]

[2020-09-05 06:07] Mounica134 commented on #64
I had a similar issue: the customizations claimed in the github page weren't working. Turns out my emacs was downloading dashboard from some other package archive(don't remember which since it was longtime ago). Adding a line `:pin melpa` to the `use-package` configuration solved the issue

[2020-09-08 05:04] #196 closed

[2020-10-16 06:27] jcs090218 commented on #236
Try the code below.

[code]

Mainly, you just have to call function `dashboard-insert-startupify-lists`. Then it should do the trick.

[2020-10-16 07:05] jcs090218 opened #241 "More maintainers?"
Hi, I use this package everyday for my programming life.

I wonder if I can co-maintain this package? Let me know what the team thinks! Thanks!

Ping @rakanalh @JesusMtnez

[2020-10-16 07:11] JesusMtnez commented on #241
:+1: I would really like to have more maintainers in this project. I have not been able to help to maintain this package during this year even if I want to. I would really appreciate the help :clap:

[2020-10-16 07:22] jcs090218 commented on #241
Awesome! Can you add me to the organization and give me the permission to this repository?

Thanks!

[2020-10-16 07:52] JesusMtnez commented on #241
I do not have those permissions. I think @rakanalh is the `owner`

[2020-10-16 07:58] jcs090218 commented on #241
No problem! :)

We can wait until @rakanalh sees this.

[2020-10-16 10:10] rakanalh commented on #241
@JesusMtnez granted you an owner role to the org & invited @jcs090218 to participate.

[2020-10-16 10:11] JesusMtnez commented on #241
@rakanalh Thank you! :tada:

[2020-10-16 10:45] jcs090218 commented on #241
@rakanalh Thank you!

One question here. I received an email " Your invitation to emacs-dashboard has been canceled". 😕

[2020-10-16 13:31] JesusMtnez commented on #241
@jcs090218 inviting you again :wink:

[2020-10-16 14:35] jcs090218 commented on #241
@JesusMtnez Got it!

Can you invite me to the organization. I feel like is a bit easier for me to navigate to the repository.

Anyway, I am closing this now! Thank you! 👍

[2020-10-16 14:35] #241 closed

[2020-10-17 05:11] jcs090218 commented on #241
@JesusMtnez You there? Thank you!

[2020-10-17 06:47] JesusMtnez commented on #241
Do not worry, as soon as I can get to the computer, I will invite you to the org too. 🤩👍

[2020-10-17 06:50] jcs090218 commented on #241
Sorry for bothering you! Just want to ensure this before I forget about it. Thanks! 😄

[2020-10-18 14:07] jcs090218 commented on #237
I'm reading the thread yet I may need more information and time to investigate this issue!

[2020-10-18 14:11] jcs090218 commented on #215
I think `(setq projectile-completion-system 'ivy)` does the trick?

@yurikoif Does @ricardoricho answer work for you? Thanks!

[2020-10-18 14:12] jcs090218 commented on #208
@csevast Does the code work for you? Thanks!

[2020-10-18 14:13] jcs090218 commented on #236
I think this is duplicate to #208. Mark duplicate now.

[2020-10-18 14:15] jcs090218 commented on #197
Sorry for the late reply!

I can reproduce issue. I think the solution is to loop through all frames in order to do re-centering execution correctly.

[2020-10-18 14:17] jcs090218 commented on #187
Good idea! I think there is no harm for this to implement. If anyone in the community wants this; and please leave a comment to this thread!

Thank you all!

[2020-10-18 14:29] jcs090218 commented on #197
Oh, wait. This is actually quite tricky...

Since we only have one `dashboard buffer` but we have two frames with different sizes. I don't know if this is possible to fix. May need suggestion on this. I will mark this as `help wanted` label for now.

[2020-10-18 14:31] jcs090218 commented on #184
Yeah, I cannot reproduce this on my Windows machine. I agree with @JesusMtnez that this may cause by the terminal you are using. 😕

[2020-10-18 14:32] jcs090218 commented on #195
I like the idea. This may be a feature with much lower priority.

Anyway, PR is welcome! ;)

[2020-10-18 14:33] jcs090218 commented on #120
Yeah, I don't think this is the `dashboard`'s issue. Can you post a screenshot so the team can confirm this issue easier?

Thank you!

[2020-10-18 14:42] #176 closed

[2020-10-18 14:55] jcs090218 commented on #176
This is completed by eca733a829c5b37ae770a0c881b4c50f7dd646c0 and 02cf7b871c822461ca9063505a3de6a0f79499af.

[2020-10-18 18:13] mtreca commented on #197
Hi again, no problems for the reply!

I thought about it in the meantime and reached the same conclusion: if two Emacs frames of different width are displaying the dashboard at the same time, there is no way of displaying both dashboards correctly at the same time. The only edge cases that could be fixed is if the frames are on two different workspaces (depending on your window manager) and there

[2020-10-18 18:20] jacksonbenete commented on #236
Kinda of, if the dashboard doesn't exists (like, no `(dashboard-setup-startup-hook)` in my init.el) it will create dashboard just fine in the first time, but if the dashboard was killed it will just jump to an empty buffer and don't initialize dashboard again.

[2020-10-18 18:25] JesusMtnez commented on #241
Should be done now! :smile:

[2020-10-18 18:27] jacksonbenete commented on #236
Ok, I get it, in fact it need a refresh, so the following will work just right.

[code]

Thank you very much!
I will Close the issue if you don't mind.

[2020-10-18 18:27] #236 closed

[2020-10-19 04:32] JesusMtnez opened #243 "Add CONTRIBUTING.md"
Add `CONTRIBUTING.md` guide.

[2020-10-19 04:33] JesusMtnez opened #244 "Move CI to GitHub Actions"
We could migrate (and improve at some point) the package CI to GitHub Actions like: https://github.com/purcell/setup-emacs

[2020-10-19 05:59] jcs090218 commented on #244
This would be great! I have `purcell@setup-emacs`  working on my config; see https://github.com/jcs090218/jcs-emacs. If you want to working windows you can use mine setup emacs for Windows here -> https://github.com/jcs090218/setup-emacs-windows.

These are the `.yml` files for both CI tests.

* https://github.com/jcs090218/jcs-emacs/blob/master/.github/workflows/ci_windows.yml
* https://github.co

[2020-10-19 07:41] JesusMtnez commented on #244
Nice!!!! :clap: :clap: I will try to take a look at this, really interesting having more than Linux validation for the package :eye:

[2020-10-19 07:41] jcs090218 commented on #197
Yeah, I totally agree with you. I may mark this with `won't fix` label; then until we have a good solution for this issue.

[2020-10-19 23:51] jsigman commented on #215
Doesn't work when I use `(setq projectile-completion-system 'ivy)`.  I've been playing with `selectrum`, as well, and this still doesn't work with the default completion system +  `selectrum` either.

[2020-10-22 05:46] jcs090218 commented on #191
I have checked the PR and confirm this as a bug.

Thank you for reporting this issue to us! I greatly appreciated! 😄

[2020-10-22 05:51] jcs090218 commented on #191
I have made another PR here #245.

[2020-10-22 10:45] GiantToast commented on #153
Hey guys, I wanted this too and stumbled upon this issue.
I ended up solving it by creating a banners folder in my `.emacs.d` folder, in which I created a custom `4.txt` banner.
Then I modified my dashboard elisp to be the following:
[code]
Hope this helps!

[2020-10-22 12:21] jcs090218 commented on #153
@GiantToast Nice work around! 👍

[2020-10-23 06:17] #191 closed

[2020-10-23 06:18] jcs090218 commented on #191
I have merged the PR #245. Feel free to reopen this if the issue remains! Thank you!

[2020-10-26 05:54] jcs090218 commented on #243
This issue is also related to issue #90.

[2020-10-26 05:56] jcs090218 commented on #160
With my configuration [jcs-emacs](https://github.com/jcs090218/jcs-emacs), it displays sequence of characters when inside terminal. I think I am able to manage it so it display even with inside the graphical user interface.

I think this is indeed a good enhancement!

[2020-10-26 06:01] jcs090218 commented on #26
@jwintz Do you still find out this package is hard to config? Thank you!

@jueqingsizhe66 Check out this section here, https://github.com/emacs-dashboard/emacs-dashboard#faces. I think you are looking for `dashboard-heading`? You can customize this face. Let me know if you have issue customize it!

[2020-10-30 05:49] jcs090218 commented on #153
This is implemented by #246. Close this now! 😄

[2020-10-30 05:49] #153 closed

[2020-10-30 07:55] junyu-wu opened #250 "dashboard-insert-image-banner: Window system frame should be used"
tty: dashboard version: 20201029.1110
      error: dashboard-insert-image-banner: Window system frame should be used

      dashboard version: 20200306.1344
      successful

[2020-10-30 08:04] jcs090218 commented on #250
I think the issue is cause after #246.

Try specify `dashboard-startup-banner` only when `(display-graphic-p)` is true.

[code]

[2020-10-30 08:29] junyu-wu commented on #250
If you just set dashboard-startup-banner to false, the text banner cannot be displayed.
I checked `dashboard-choose-banner` func, modify like this

[code]

the text banner is successfully displayed and without an error

[2020-10-30 08:35] jcs090218 commented on #250
I have made a PR #251. I think the fix should resolve the compatible issue from the previous version.

[2020-10-30 08:56] #250 closed

[2020-10-30 08:57] jcs090218 commented on #250
The PR #251 is merged! Feel free to reopen this if the issue remains. Thank you!

[2020-11-05 16:12] jhilker1 opened #252 "Using dashboard can't start server in cronjob?"
First of all, thank you for making this package - it's a really nice way to get a basic overview of things.

I have my emacs set to run as a server when I start my laptop in a cron job. However, when I have my dashboard set up, I am currently unable to start the server at runtime - I have to open up emacs, run `server-start` in Emacs, and then go to a terminal and create frames that way. When I co

[2020-11-05 16:16] jcs090218 commented on #252
Can you post your `dashboard` configuration? Maybe try comment out some configuration and maybe you could find the code that causes this issue! Thanks! ;)

[2020-11-05 16:20] jhilker1 commented on #252
Of course, sorry about that. I have commented out some things here, but I'm really not sure what else to try

[code]

[2020-11-05 17:02] jhilker1 commented on #252
I had figured it out - it was the line where I had set my banner icon to `banner.png`.  I have no idea why that would cause it to fail, but at least that figured it out. Time to figure out what had caused it to fail.

[2020-11-05 17:10] jcs090218 commented on #252
Glad you figure it out! ;)

[2020-11-05 17:58] seleonel commented on #252
Hey, I'm also getting this problem when trying to start emacs as a daemon.

Letting dashboard use its default banner (by not setting dashboard-startup-banner) seems to have fixed it. Could this be somewhat related to the latest commit?

Anyways, thanks for providing this awesome package.

[2020-11-05 18:03] jhilker1 commented on #252
I found the same issue as well. I was able to use one of the default banners that comes with the package, but not my own.

[2020-11-05 18:31] jcs090218 commented on #252
Does this commit fixes it's issue? See a26766be844cc3ba3a50f440e2dd6d336849ccd5.

[2020-11-05 21:21] seleonel commented on #252
Don't think so. At least on my end. I've already fetched and merged the latest commits and the issue still persists.

[2020-11-07 06:53] jcs090218 commented on #252
@jhilker1 Did you start Emacs inside terminal? In terminal, it only accept `.txt` file.

hmmm... This is very strange. I don't use daemon very much. Try setting banner depends weather if you are inside terminal. For instance,

[code]

---

I think the following patch should work?

[code]

[2020-11-10 11:22] JesusMtnez opened #257 "Image banner is missing"
I am using emacs 27.1 from nixpkgs (and I have also tested with emacs 27.1 from arch linux repositories). Both are missing the image banner :thinking: when emacs starts... I have tried simplifying the code to avoid using `imagemagick` if it is not provided (which I think it was already done using the `if`) and use the new images api, but no luck so far...

[code]

I am out of ideas on how to tests

[2020-11-10 12:51] jcs090218 commented on #257
I have tested your simplify version code and it works! Wonder what's the issue here. 😕

I am using `Windows 10 (x64)` and `Emacs 27.1`.

[2020-11-10 12:53] jcs090218 commented on #203
I don't have old Emacs version on my machine. If `create-image` just work, I guess we can just use that and not even think about `imagemagick` support? 😕

[2020-11-10 14:40] seagle0128 commented on #203
@jcs090218 I think so.

[2020-11-11 15:45] jcs090218 commented on #203
@JesusMtnez What do you think about this?

[2020-11-11 16:46] JesusMtnez commented on #203
I think we could refactor image handling to  use `create-image` that will only use `imagemagick` if it is an available feature in Emacs. I took inspiration from `telega.el` but it should be pretty easy to refactor...

[2020-11-14 03:32] rstcruzo commented on #153
@jcs090218 I am getting `could not find banner "~/banner.txt", use default instead`. Running `(file-exists-p "~/banner.txt")` manually returns true correctly. Not sure what's causing this.

[2020-11-14 03:43] rstcruzo commented on #153
It is because of this https://github.com/emacs-dashboard/emacs-dashboard/commit/44868578ead314be9f4164f39d3d15470fcd4601 .

Why is it not allowed to use `.txt` when not inside terminal?

[2020-11-14 06:00] jcs090218 commented on #153
I think is a logical error. I have made a PR in #260 to fix this issue.

[2020-11-16 06:24] jcs090218 commented on #226
Sorry for the late reply!

Do the issue still exists with the latest version? We have recently updated the `agenda` module!

---

Furthermore, the function `dashboard-format-agenda-entry` is the core we parse agenda using basically everything from `org`. If it doesn't parse all agenda; then I might doubt this should be an issue from `org`? 😕 Thanks!

[2020-11-23 20:09] RJSent commented on #215
I found `(setq projectile-completion-system 'ivy)` worked for me.

[2020-11-26 22:07] #215 closed

[2020-11-28 15:02] sailikk opened #264 "Org Agenda not being highlighted on startup, but when saving the corresponding org file"
1. I open up Emacs, and notice that I don't see the usual highlighting of the keyword NEXT or the text "Pay Credit Card" like they appear in my `school.org` file usually:
![image](https://user-images.githubusercontent.com/46624965/100518467-a253ff00-315f-11eb-91a6-65028ec3f40e.png)
2. (optional): Try to refresh the buffer a few times with `dashboard-refresh-buffer`. Note that nothing changes.
3. I

[2020-12-01 06:43] jcs090218 commented on #264
Are you talking about something changes after the recent commits? Can you tell me what version of dashboard are you using? I think the issue appears after this PR here #238?

[2020-12-03 09:56] rudi commented on #195
#265 implements a menu of actions for the projects widget when using the project package (the prompt and actions are the same as for the `project-switch-project` command).
I believe #232 implements this for projectile, but haven't tested.

[2020-12-03 09:58] rudi commented on #187
I was thinking the same, but `p` is already bound and jumps to the projects widget.

[2020-12-03 13:48] jcs090218 commented on #187
Yeah, I think @rudi has a good point here. I guess I will close this issue for now.

@fredefox Feel free to reopen this if you find out useful.

[2020-12-03 13:48] #187 closed

[2020-12-04 20:50] fredefox commented on #187
Perhaps `P` could be used for the "jump to projects" widget.

[2020-12-04 22:24] algon-ns opened #266 "the dashboard showing aganda shows all TODO's"
My Dashboard shows entries from next year, it seems like the filter do not work fdate/time not i US format.
![emacs-dash](https://user-images.githubusercontent.com/58687687/101221354-d2cbf980-3687-11eb-8c50-61b45485c44b.png)

[2020-12-05 02:17] jcs090218 commented on #266
I think you are talking about the PR #238? If you want to change the time string try change the variable `dashboard-agenda-time-string-format`. 😕

---

Thanks for reporting this issue to us! 😄

[2020-12-05 09:35] algon-ns commented on #266
Sorry,
the time format is OK (%Y-%m-%d)
I changed (show-....) to (dashboard....)
and I'm running emacs version 28.0.50, and the problem persist

and I didnot understand the answer for #238

[2020-12-05 10:04] jcs090218 commented on #266
No worries! I was trying to understand the issue here. I guess you are talking about the filter?

I think PR #238 has changed the filtering process to `dashboard-match-agenda-entry`. May be try tweaking the variable? 😕

[2020-12-05 10:25] algon-ns commented on #266
Thanks,

the dashboard-match-agenda…æ is nil, any suggestions of other values?

It look like I do not get the latest version of dashboard, I’m using straight.el to get the dashboard, and
I have no ideas how to get  (straight-use package to process all the config parameters

*** Dashboard
:PROPERTIES:
:CUSTOM_ID: Dashboard
:END:
 [[https://github.com/emacs-dashboard/emacs-dashboard][Dashboard]] - A

[2020-12-08 16:05] rudi commented on #187
How about j/k for up/down, for us old nethack players?  These keys are currently not used for quick access to any section

[2020-12-08 19:45] sailikk commented on #264
Sorry for late reply..

My elpa has a directory named dashboard-20201114.928, which should be the most recent MELPA version, right? New to Emacs, so please correct me if I have some misunderstanding. Oh, I think this is somewhat outdated. According to https://melpa.org/#/dashboard 20201207.1445 should be the most recent. What would be a good way to update it for someone using `use-package`? I will

[2020-12-08 20:27] sailikk commented on #264
Okay, I figured out how to update my elpa directory packages, and everything is up to date now. The same thing is still happening with dashboard unfortunately

[2020-12-09 03:59] jcs090218 commented on #264
I am trying to debug here. Not sure what causes this issue. I am assuming PR #238 is the culprit.

Have you tried this? Thanks!

[2020-12-09 07:07] jcs090218 commented on #266
@algon-ns Can you test the patch #269 and if it works? Thanks! ;)

[2020-12-09 08:19] algon-ns commented on #266
Hello Jen-Chieh,

I’m unsure, where to insert the patch…

If I put it in my initfile after loading dashboard, it comes out with an error:

: Before first headline at position 1 in buffer *scratch*

mvh
Niels
 <applewebdata://D1529CA5-16CB-4EA0-A72C-8BC568D37CCD>
Niels Søndergaard
Mariehøj 236, 2990 Nivå
 <tel:+45 4052 2789>+45 4052 2789 niels@algon.dk <mailto:niels@algon.dk>

[2020-12-09 09:18] jcs090218 commented on #266
Hi Niels!

Try evaluate the following code by calling `eval-buffer`! Just paste the code in `*scratch*` buffer and `M-x eval-buffer`.

[code]

Let me know if this works! Thanks! 😄

[2020-12-09 09:27] algon-ns commented on #266
It works as expected……

how can I put it in?

mvh
Niels
 <applewebdata://E9ACEC66-8FD8-4B28-9491-1D117393017E>
Niels Søndergaard
Mariehøj 236, 2990 Nivå
 <tel:+45 4052 2789>+45 4052 2789 niels@algon.dk <mailto:niels@algon.dk>

[2020-12-09 09:29] #266 closed

[2020-12-09 09:30] jcs090218 commented on #266
PR #269 is merged! It will be up and running in the latest version of `dashboard`! Thanks!

[2020-12-09 12:36] sailikk commented on #264
Sorry for the confusion.
I will detail the facts once more:
This is what I see when I do `M-x list-packages`:
[code]
I just upgraded, and the latest version (from today) is installed. Therefore, I must already have the version using the PR you mentioned. Hope this clarifies where I am with regards to PR #238.

I am a beginner at Emacs, so I am not 100% sure what you mean here either. I use `use-pa

[2020-12-09 12:58] jcs090218 commented on #264
No worries! I mean in the previous PR #238 it was requiring `org-agenda` like `(require 'org-agenda)`. I am guessing that is why this isn't working at the very beginning of the dashboard buffer. So maybe try the following,

[code]

[2020-12-09 13:28] sailikk commented on #264
Just putting:
[code]
just gives me the `*scratch*` buffer when starting up.

Doing this:
[code]

Gives the same behaviour as initially described for this issue unfortunately.

[2020-12-09 13:35] jcs090218 commented on #264
Sorry for the confusion! I mean you should just have `(require 'org-agenda)` in you `use-package` block! You should keep your original configuration.

[2020-12-09 14:06] sailikk commented on #264
Alright. This is my new config:
[code]
Same issue happens when starting up Emacs unfortunately.

[2020-12-15 08:10] pinoaffe opened #274 "Make customizing sections more easy by adding section "records""
Currently, when one wants to add custom sections to the emacs dashboard, one also needs to replace the dashboard-insert-heading function with a modified version thereof.
I think adding an list/alist of records of some sort in order to make customizing headings more easy.
As an example of what I'm thinking about, see https://github.com/djcb/mu/blob/master/mu4e/mu4e-mark.el#L129

Would you be open t

[2020-12-16 02:30] zcaudate commented on #184
I'm having the same issue with the letters. Also on macOS.

[2020-12-16 02:30] zcaudate commented on #184
I've used Terminal.app, Term2 and Alacritty and they all do the same thing. I'm wondering if there was a way to disable the mouse

[2020-12-16 02:41] zcaudate commented on #184
I figured out how to disable it:

[code]

a work around is to click using the mouse and press RET on the file you want.

[2020-12-19 07:38] ema2159 opened #276 "Truncate elements"
Hi! I was looking for an option to truncate the dashboard's items since sometimes they became too long. I thought that `dashboard-items-default-length` did that but it is not the case so this could be a nice option to add.

Some inspiration can be taken from https://github.com/seagle0128/doom-modeline since it has several options for displaying files when their paths are too long.

[2020-12-19 15:53] jcs090218 commented on #276
Hi! Can you elaborate the feature from [doom-modeline]() about the path too long issue? I don't use this package so I am not very familiar with it.

Anyway, thanks for reporting this issue to us! 😄

[2020-12-19 15:56] jcs090218 commented on #274
Are you talking about about extraction/decouple from function `dashboard-insert-heading`? It sounds like a great idea! But I think this may require some work. Are you interested implementing this feature? I would accept the PR if anyone does this! Thanks! 😄

[2020-12-20 08:50] mslot opened #277 "Agenda module and org-gcal integration"
I have this entry created by org-gcal

[code]

But what ever i set these variables to

[code]
I can't get the entry to show i the dashboard.

Am i using the filter and match wrong? Or is it simply not possible to show the entry in the agenda module of dashboard?

When i set `dashboard-filter-agenda-entry` to `dashboard-no-filter-agenda` i get an error telling me that it can be void, which is why i

[2020-12-20 10:52] pinoaffe commented on #274
yeah, that's what I mean.
I would be interested in implementing, I see three possible approaches:
The approach I'd consider the most "clean" would deprecate `dashboard-heading-icons`, `dashboard-items` and `dashboard-item-generators`, and would introduce a defcustom along the lines
[code]

[2020-12-20 18:56] ema2159 commented on #276
doom-modeline's documentation explains it best, so here I attach it:
![image](https://user-images.githubusercontent.com/17773218/102721786-a5c54b00-4305-11eb-965a-98a14571fc41.png)

It would be awesome if something similar could be implemented for Dashboard's elements.

[2020-12-21 11:49] gnava commented on #277
I think you need to quote it:

`(setq dashboard-filter-agenda-entry 'dashboard-no-filter-agenda)`

[2020-12-21 16:25] ricardoricho commented on #277
Hi @mslot the README is wrong and  `dashboard-no-filter-agenda` should be quoted
[code]
The "core" of the "widget" is [org-map-entries](https://orgmode.org/manual/Using-the-Mapping-API.html) and is used like this
[code]
With `'dashboard-format-agenda-entry` to format every headline, `dashboard-match-agenda-entry`, in your case `"org-gcal"` it's totally fine. And `dashboard-filter-agenda-enrty` whi

[2020-12-25 20:40] ema2159 commented on #276
Closed in #279

[2020-12-25 20:40] #276 closed

[2020-12-27 16:42] pinoaffe commented on #274
@jcs090218 could you please take a look at (and respond to) my previous message?

[2020-12-27 17:13] jcs090218 commented on #274
Sorry for the late reply!

@pinoaffe From the code snippet you have shown in the previous message. Are you merging multiple `defcustom` variables into one giant list? Like, `dashboard-items`, `dashboard-item-shortcuts`.

I think the first approach is interesting, but I might go with option 2. I don't think merging multiple already customizable variables is a good idea. Unless the new version someh

[2020-12-28 04:23] paxperscientiam commented on #184
@zcaudate  that indeed works. Just submitted PR #282 using your find.

[2020-12-28 06:01] jcs090218 commented on #184
Do we even need this line in the first place? I think without this line the dashboard works functionally without causing issue.

https://github.com/emacs-dashboard/emacs-dashboard/blob/ef51ad205c6f21e80cb1e4b2ab2d0547675ea206/dashboard.el#L44

[2020-12-29 12:11] jcs090218 commented on #264
@sailikk I think we have the fix from @ricardoricho. Can you please test the latest version? Thanks!

[2020-12-29 18:42] sailikk commented on #264
It works! Thanks to both of you. Feel free to close.

[2020-12-30 02:21] paxperscientiam commented on #184
My assumption is "yes." If not explicitly set in mode-map, we can't be sure what will be bound to it ... though perhaps it's likely just to be the default value.

[2020-12-30 05:34] jcs090218 commented on #264
Close this now! Thanks! ;)

[2020-12-30 05:34] #264 closed

[2020-12-31 04:23] shackra commented on #266
I was having this issue, pulled the new code for this packaged, rebuilt and restarted Emacs and now entries show as expected

[2020-12-31 17:00] jcs090218 commented on #184
I don't think we need this since `widget-button` should act as button object in Emacs. Unless it bounds to something else that mouse no longer do it usual behaviour.

Okay, I have a PR #283 for temporary solution!

[2021-01-01 06:39] jcs090218 commented on #184
I assumed this issue is fixed! Thanks! ;)

[2021-01-02 16:41] jcs090218 commented on #184
The previous #283 solution isn't perfect, reopening this issue. 😕

[2021-01-02 16:52] paxperscientiam commented on #184
My solution DOES work, but we could go a step further and make it so that clicking the filename opens a file visiting buffer like in spacemacs. Spacemacs looks like they've augmented emacs-dashboard in someway.

[2021-01-02 16:56] jcs090218 commented on #184
I know your solution here.

[code]

But this doesn't work on my machine. 😕 Can you test using `mouse-1` instead of `down-mouse-click`? I am guessing `down-mouse-1` isn't the right keymap to use.

[2021-01-02 17:01] paxperscientiam commented on #184
Oh no, sorry. didn't realize. I will give your snippet a shot.

[2021-01-02 17:08] paxperscientiam commented on #184
Works for me! You'll use your own PR?

[2021-01-02 17:13] jcs090218 commented on #184
Great! I never thought the solution would be that simple. Thank god!

I have opened the PR #285 but I would need to wait for @JesusMtnez to confirm! If you want, you can open another PR so I can merge it immediately!

[2021-01-02 17:22] jcs090218 commented on #184
Cool, @JesusMtnez has approved PR. Thanks for everyone's participation! Close this issue now!

@paxperscientiam Feel free to reopen this issue if this issue remains!

[2021-01-02 17:22] #184 closed

[2021-01-04 09:28] jcs090218 opened #286 "Mouse track on mouse click"
After commit 8c7f1754870f81e02cbce543d78145e98f2d6490, the cursor will track the mouse position even though the user does not held the mouse down (left pressed).

[2021-01-05 04:51] #286 closed

[2021-01-06 10:00] jonascarpay commented on #226
Unfortunately, the issue seems to persist. Events marked with just angle bracket timestamps appear in org-agenda but not the dashboard agenda.

[2021-01-13 09:22] #244 closed

[2021-01-25 06:22] jcs090218 opened #291 "Remove CircleCI"
@JesusMtnez I don't think we need CircleCI anymore?

I don't I have the permission to remove it. Can you remove it for us? Thanks! :)

[2021-01-25 06:26] JesusMtnez commented on #291
I will take a look to it. Not sure if I am able to. I'll let you know.

[2021-01-25 06:27] jcs090218 commented on #291
I have found this article. See if this helps?

https://support.circleci.com/hc/en-us/articles/360021666393-How-to-manually-stop-building-by-removing-your-deploy-key-and-webhook-from-GitHub

[2021-01-25 07:50] JesusMtnez commented on #291
I have just removed it.

[2021-01-25 07:50] #291 closed

[2021-01-26 11:59] NicoloZorzetto opened #292 "Center content not centering content"
Hello, I've been using the dashboard without problems for more than a year, but now on my new machine (Arch) it won't center the contents.

I am using `Emacs 27.1` and have this in my config:
[code]

And this is what I get:
![Screenshot_20210126_125527](https://user-images.githubusercontent.com/56208253/105842008-79b87c00-5fcd-11eb-94e7-54e015be7843.png)

Hitting `g` updates the contents (new agen

[2021-01-27 06:05] jcs090218 commented on #292
What version of dashboard are you using? Can you try the following snippet (just `M-x eval-defun`)?

[code]

Thanks for reporting this issue to us!

[2021-01-27 12:43] NicoloZorzetto commented on #292
Checking the `package-list-package` says I am using the version `20210125.909 - Commit: 18b38b49b60c005909f91f047c0507f47cc75fd3` but also have ` 20200306.1344 (installed).`
On MacOS (where everything works) I am also on version `20210125.909`.

I tried downgrading to ` 20200306.1344` but it seems to not solve the problem.

Evaluating your function the minibuffer says `dashboard-refresh-buffer` an

[2021-01-27 12:52] jcs090218 commented on #292
Oops, I think I missed `(interactive)` in my previous post.

[code]

I am still not quite sure about the issue here. I think something goes wrong while refreshing the dashboard buffer.

[2021-01-27 13:03] NicoloZorzetto commented on #292
mh.. still nothing. Wil unload my config from this machine and see if from scratch something changes after lucnh. In the meantime I thank you for the help

[2021-01-27 14:51] NicoloZorzetto commented on #292
Yep, nothing changed. Putting only this in my config:
[code]
After deleting the whole `.emacs.d` directory still doesn't center the contents, even with your function.
![Screenshot_20210127_133751](https://user-images.githubusercontent.com/56208253/106005850-895ac200-60ac-11eb-9b42-cc944a09c78a.png)

I had added some stuff so I pulled my config on MacOS and as before there everything works.

Reload

[2021-01-27 15:23] jcs090218 commented on #292
Make sure you have `(setq dashboard-center-content t)` and not `(setq dashboard-center-contents t)` without the `s`.

Hmmm... The core of inserting the content to the center hasn't been touch for like a year.

[2021-01-27 18:48] NicoloZorzetto commented on #292
yes, I have `(setq dashboard-center-content t)` without `s`.
I have upgraded Emacs on Mac to `27.1` as well and there it works.

If I am the only one reporting this (considering the big share Doom, Spacemacs, and the others have of the Linux/Arch market) I fear it could be something related but not directly inside dashboard. I will install GNOME with all it's stuff to see if I'm missing something

[2021-01-30 16:27] NicoloZorzetto commented on #292
It works in Fedora KDE but in the Gnome flavour it centers only the image

[2021-02-01 00:08] zamlz opened #293 "Logo image not displaying properly"
I'm unable to display the logo image within emacs. Whether it be the built in ones or a custom path.
Here is what I have right now. Inline images do work and was able to get it working in my org files.
All i'm able to see is a small white box.

[code]

Any help to diagnose whats wrong would be appreciated :)
Currently using `GNU Emacs 27.1`

[2021-02-01 06:29] jcs090218 commented on #293
Make sure you have `dasboard-startup-banner` and not `dhasboard-startup-banner`.

I don't see any issue from you configuration. This looks strange to me. To better investigate this issue, can you take a screenshot of your screen? Thanks!

[2021-02-01 17:02] zamlz commented on #293
Oh I thought I fixed that, sorry that was an old version of the config. But even with the typo fixed, I still only see the white box.
![2021-02-01-085856_784x125_scrot](https://user-images.githubusercontent.com/10750027/106491874-2aaa9500-646c-11eb-98a4-323270e52f98.png)

[2021-02-05 04:23] jcs090218 commented on #293
Can you try `imagemagick` support? I don't why this is happening...

We already have a check for `imagemagick` and even it doesn't then it should use the built-in version of `insert-image`.

[2021-02-07 18:10] zamlz commented on #293
Figured it out, it appears my distributiion's build script for the package was not building emacs with imagemagick support correctly. Just updated my emacs right now and its been fixed!

[2021-02-07 18:10] #293 closed

[2021-02-17 14:46] devinprater opened #295 "Accessibility: Dashboard cannot be used with Emacspeak"
Hello. I am a blind person, and use [Emacspeak](https://www.github.com/tvraman/emacspeak) to use Emacs (on arch Linux, Emacs version GNU Emacs 27.1 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.22, cairo version 1.17.3) of 2020-08-28)

I installed Dashboard with Melpa, and used:

[code]

to initialize it on startup. But, using Emacspeak, pressing C-n and C-p don't work. Looking further, it turn

[2021-02-17 15:23] jcs090218 commented on #295
Hi @devinprater. You can use arrow keys to navigate through the dashboard buffer. We do have the proposal at #187. Let me know if the need anything else! :)

[2021-02-17 17:38] devinprater commented on #295
The problem is that neither "dashboard-next-line" nor "dashboard-previous-line" work with Emacspeak. So none of the keys bound to those commands result in the items moved to being spoken by Emacspeak.

[2021-02-18 04:55] jcs090218 commented on #295
Not sure if I understand your question. Would `next-line` and `previous-line` command work in Emacspeak? If so, try override the key binding like the following snippets.

[code]

[2021-02-27 18:38] ig-perez opened #297 "Silently read org files to add agenda items in Dashboard"
Hi, thanks for maintaining this package!

I have many org files and when opening Emacs, Dashboard seems to read all of them to find TODOs and add them to the agenda section. The problem with this is that the files are kept open after displaying Dashboard.

Since I use Centaur Tabs I have a lot of tabs for the org files opened by Dashboard. Is this normal behavior? If yes, can it be changed to sile

[2021-02-27 19:07] jcs090218 commented on #297
Hi, I am not quite sure the default action for agenda. I think @ricardoricho may know the the answer? :)

[2021-02-27 19:09] jcs090218 commented on #295
I think the issue can be closed? Feel free to reopen it if you still having issue. :)

[2021-02-27 19:09] #295 closed

[2021-02-27 22:07] ricardoricho commented on #297
Hi @ig-perez
Yes, the normal behavior for org-agenda is to leave the buffers open. Now it will close the "untouched" files.
Thanks.

[2021-02-27 23:14] ricardoricho commented on #297
Hi
The issue with this is that if we close all the agenda buffers next time Dashboard is refresh it will take time to open the agenda files again.
The question is when do we close the buffers? If it's only the first time maybe with a hook
[code]
@jcs090218 In the PR buffers are open and close each time the Dashboard buffer is refresh, to keep that behavior  we can add config var or a hook or... ma

[2021-02-28 00:22] ig-perez commented on #297
Thank you guys. If you allow me, I'd suggest to use a variable to let Dashboard know if it should keep the files open or close after generating the agenda items.

Perhaps you can add this to the documentation saying that closing the files will increase time when refreshing Dashboard. One question here, does Dashboard auto refresh its contents or that is a user triggered action?

[2021-02-28 04:52] jcs090218 commented on #297
Hmm.. I think adding a config variable would work. It's great to let users decide what's the package's behavior.

You would need to `M-x dashboard-refresh-buffer` to trigger it's action.

[2021-03-02 19:03] j-steinbach opened #299 "Keybindings don't work in Doom Emacs/Evil-mode"
I am using the "default" `elfeed-dashboard.org` file.

It comes with some keybindings declared in the org-file.

[code]

None of these work for me.

But when I enable the _evil-emacs-state_ (`C-z`), it magically works again.

---

I tried to re-bind the keys

[code]

but don't know how to add the _query_ parameters.

A look into `elfeed-dashboard.el` shows me that there is some black magic happeni

[2021-03-02 19:04] j-steinbach commented on #299
Wait, this is `emacs-dashboard`, not `elfeed-dashboard`....

Sorry!

[2021-03-02 19:04] #299 closed

[2021-03-03 04:28] jcs090218 commented on #297
@ig-perez #298 is merged! Can you set variable `dashboard-agenda-release-buffers` to `t` and see if this work for you? Thanks!

[2021-03-03 14:10] ig-perez commented on #297
Hi @jcs090218 I just updated `Dashboad` and used the new variable. Everything is working as expected. Thank you very much to both of you.

Have a great day!

[2021-03-03 14:10] #297 closed

[2021-03-10 08:56] lckarssen commented on #156
I used to be bitten by this issue as well. However, when I enabled `(setq dashboard-set-file-icons t)` today, all was fine again. I guess the fix has been implemented in `all-the-icons`. I think this issue can be closed.

[2021-03-10 09:05] jcs090218 commented on #156
Ah. Good to know! Thanks for notifying us! :)

[2021-03-10 09:05] #156 closed

[2021-03-23 18:47] Amorymeltzer opened #302 "Spread items across columns"
Semi-related to #111, but it'd be neat to be able to spread long lists over multiple columns.

[2021-03-24 04:12] jcs090218 commented on #302
It would be great if you have some references so we are able to know what exactly you are referring to! Thanks! :)

[2021-03-24 04:12] jcs090218 commented on #208
I think this is resolved? Close this issue now! :)

[2021-03-24 04:12] #208 closed

[2021-03-24 12:57] ddoherty03 commented on #111
I upvote, though I don't think there is a need to for anything like window splitting, just multiple column lists with truncation for items too long.

[2021-03-24 12:58] ddoherty03 commented on #302
I upvote this as well, similar to #111.

[2021-03-24 13:28] jcs090218 commented on #111
I think this is a cool feature yet I don't have any idea on how to render this kind of layout. Do we need some kind of library or external tool to do such a task?

[2021-03-24 15:26] Amorymeltzer commented on #302
Yeah, sorry @jcs090218 for this incredibly unhelpful issue; I struggled for words to describe it but I know how annoying that can be.

Basically, it's not that hard, especially on a laptop, for 5-10 items in 3-4 sections to take up most of the vertical space, while leaving a lot of horizontal space unused.  YMMV, but folks might appreciate a way to take a single long list — say, 18 recent files — 

[2021-03-25 07:53] algon-ns opened #305 "Customizable headlines in the widget"
As I dont have english as my language, I would like to have the Headlines (like Bookmarks: og Projects) being made custormizable by defining them in a defvar/defcustom or the like.

[2021-03-25 19:13] lljr opened #306 "dashboard-insert-projects: Cannot open load file: No such file or directory, projectile"
I've been using `project-el` as the backend for the projects section. All was working well until I updated dashboard and now I run into this error: `dashboard-insert-projects: Cannot open load file: No such file or directory, projectile`

this is my config for dashboard
[code]

If last code block is modified to this
[code]

The error is not thrown.

[2021-03-25 22:04] jcs090218 commented on #306
Can you try calling `(dashboard-setup-startup-hook)` after setting those custom variables?

[2021-03-27 16:49] lljr commented on #306
same error

[2021-04-24 19:21] Stebalien opened #308 "Handle bookmarks with no filename"
`bookmark-get-filename` can fail for some bookmarks (e.g., notmuch, shell, etc.). This package used to handle these bookmarks just fine, but it now fails with `dashboard-shorten-path: Wrong type argument: stringp, nil`.

[2021-04-25 03:54] jcs090218 commented on #308
Sorry for the inconvenience!

I have opened the patch in #309 and hopefully it will get merge soon!

[2021-04-25 07:37] #308 closed

[2021-04-25 23:11] Stebalien commented on #308
Thanks!

[2021-04-27 06:23] nwg opened #310 "`(void-function path)` when loading bookmarks (dashboard-insert-bookmarks)"
I was getting the error `(void-function path)` when trying to start up dashboard my first time.

The stack trace was:

Debugger entered--Lisp error: (void-function path)
  path("/path/to/my-e.file")
  #f(compiled-function (el) #<bytecode 0x28ff081c9111c07>)("e")
  mapc(#f(compiled-function (el) #<bytecode 0x28ff081c9111c07>) ("e" "init"))
  dashboard-insert-bookmarks(5)
  #f(compiled-function (els

[2021-04-27 06:37] jcs090218 commented on #310
Ah, yes. You are right! Sorry for being careless on recent changes...😖

Will you willing to open a PR for this? 😄 So I can approve and merge it ASAP!

[2021-04-27 07:05] #310 closed

[2021-05-06 22:02] rawr1de opened #312 "dashboard-mode got disable at emacs startup"
Not sure if it was the problem, but after installing  "smart-region" package, dashboard initializes as a editable  buffer, and lines are shown as ^L  if dashboard-mode is executed all start working again.

[2021-05-07 04:41] jcs090218 commented on #312
Hmmm... I guess this is the conflict bug between each packages? I don't see any dubious code in package [smart-region.el](https://github.com/uk-ar/smart-region/blob/master/smart-region.el). Can you try defer `smart-region` package so it's lazy loading? Thanks!

[2021-05-07 14:49] rawr1de commented on #312
Just removed smart-region and reinstalled dashboard but still the same

[2021-05-07 16:21] rawr1de commented on #312
Fiddling around, somehow I manage to get it working again

[2021-05-07 16:22] #312 closed

[2021-05-07 16:41] jcs090218 commented on #312
Awesome! Glad you resolved it yourself! :)

[2021-06-17 17:42] GuptaAnant opened #313 "Changes not taking effect"
So just switched from Doom Emacs to GNU emacs (means I am newbie to Emacs at this point). Till now very positive about emacs. Done many things, just want to customize start screen. So I read the **README.org**, & see the parts for atleast having the dashboard. So, from here went to set the title from this line
`(setq dashboard-banner-logo-title "Emacs Rules:)")`
& set the banner (I think it is the

[2021-06-18 06:11] jcs090218 commented on #313
Hi, I think this is related to https://github.com/emacs-dashboard/emacs-dashboard/issues/292?

[2021-06-19 22:07] KaratasFurkan commented on #226
Here is an alternative which directly copies org-agenda buffer:

[code]

or even better version that gets agenda from emacs daemon to read it faster:
https://github.com/KaratasFurkan/.emacs.d#:~:text=(defun%20fk%2Fdashboard-get-agenda

[2021-06-21 23:18] LiquidZulu opened #314 "Set banner image width"
Hello, I have an svg that I want to use as the banner image but it is currently being imported super huge and blurry. If I convert the svg to a png I can make it smaller but then this is still blurry, ideally I want to use the full-size svg and just shrink it down in emacs for an effective super-resolution. I am unable to change its size through `dashboad-banner-length` which is the only variable

[2021-06-22 11:50] LiquidZulu commented on #314
I found the solution, `dashboard-image-banner-max-width` and `dashboard-image-banner-max-height` are the relevant variables.

[2021-06-22 11:50] #314 closed

[2021-06-23 09:16] imalightbulb commented on #78
How did you solve this @smartepsh ?
I am facing a similar error too, when I use the `(dashboard-setup-startup-hook)`, org mode is not working and I need to activate it myself.
When I use find-file, org mode activates by default.

[2021-07-12 21:42] ricardoricho commented on #313
Hi @GuptaAnant. Can you try with `(setq dashboard-startup-banner "~/.emacs.d/banner.jpeg")` ?
The README is a little misleading when it says `(setq dashboard-startup-banner [VALUE])` and when the image is not found the `dashboard-banner-logo-title` is also missing.

[2021-07-13 10:55] dustinlacewell commented on #313
FWIW, I'm noticing that banner images are not working.

![2021-07-13-10-54-25](https://user-images.githubusercontent.com/53952/125440204-de27d546-058f-4e50-9f1e-a21b9ef401bd.gif)

[2021-07-13 20:33] ricardoricho commented on #313
Hi @dustinlacewell

To ensure the images are supported, dashboard is using `image-type-available-p` and when the file extension is `jpg` it returns `nil`. I think you can rename the extension to `jpeg` and things would work.

[2021-07-18 09:40] #305 closed

[2021-07-18 10:42] jcs090218 commented on #305
Close this now, this has been implemented by @BSaifullah! Thanks to his effort on this awesome feature! 😄

[2021-07-18 16:13] yosevu opened #318 "Can content be centered vertically?"
I see that content can be centered horizontally with `(set dashboard-center-content t)`, but is there also a way to center it vertically? I would like to do this because I am setting the startup banner to nil.

[2021-07-18 16:28] jcs090218 commented on #318
No, there is no such a feature. We are open for PR, feel free to contribute to emacs-dashboard! 😁

[2021-07-27 07:06] apoorv569 opened #319 "Dashboard not opening in dashboard-mode."
I have been using `emacs-dashboard` for a few months now, it worked fine, until recently, I fresh installed my OS -> `Arch Linux`. Now when I open `Emacs` it opens like this,
![2021-07-27_12-25](https://user-images.githubusercontent.com/53279454/127110019-67f004d9-27c7-41da-a847-fc2558b1243c.png)

And if I go to `dashboard` tab, it looks like this. It opens in `Fundamental` mode for some reason. A

[2021-07-27 07:17] jcs090218 commented on #319
Is there any error? Try set the variable `debug-on-error` to `t`, and please post the backtrace here! Thanks!

[2021-07-27 09:16] apoorv569 commented on #319
There was no error. But I think I fixed it. In the `*Messages*` buffer it was saying some file and directories were not found, which I have set for `org-agenda-files`. I created those directories, and it loads fine now. Sorry for the trouble. I'll close this now.

[2021-07-27 09:16] #319 closed

[2021-08-03 14:44] aniketgm commented on #111
I upvote too. I'm a programmer, but unfortunately know nothing about emacs-lisp. It's in my plan to learn this language (due to the awesomeness of emacs), but I'm afraid it not gonna happen soon.
Although, from what I can deduce, I see that, this might be the area where the code should go in dashboard-widgets.el, to make it display column-wise rather than row-wise.

[code]

Is anyone working on th

[2021-08-03 15:21] jcs090218 commented on #111
@aniketgm Hi, currently there is no one working this feature. Feel free to give it a hand!

![ezgif-2-a4c542ddcc46](https://user-images.githubusercontent.com/8685505/128041211-74cb2552-0ea5-405a-9486-6e2c122055e1.gif)

Worth to mention, similar approach from #279. This isn't the same as **grid** system but this display similarly to column by column layout.

[2021-08-08 12:43] Hxppdv commented on #179
![](https://user-images.githubusercontent.com/17672838/128632318-c9f652d0-19f3-422d-9eb4-8df425fd43d6.png)
The problem still exists on windows.
vanilla Emacs 27.2

[2021-08-08 16:35] jcs090218 commented on #179
Try other Windows build, I can confirmed that some Windows build would still have this issue.

[2021-08-08 16:51] seagle0128 commented on #179
I think it's related to imagemagick lib. No issue without imagemagick.

[2021-08-08 17:20] Hxppdv commented on #179
I dont think imagemagick is supported in official Emacs build for windows.

[2021-08-08 17:28] Hxppdv commented on #179
I have tried many other builds and still have the same problem.

[2021-08-08 17:30] jcs090218 commented on #179
I am also on Windows with this https://ftp.gnu.org/gnu/emacs/windows/emacs-27/emacs-27.2-x86_64-installer.exe build. Weird that I am not able to reproduce this behaviour...

[2021-08-08 17:56] Hxppdv commented on #179
This is really weird, I'm using the same build as you and I tried to have only dashboard doom-themes and solaire-mode installed and still have this problem.

[2021-08-08 19:02] Hxppdv commented on #179
![](https://user-images.githubusercontent.com/17672838/128642746-5564dd3b-c905-4528-8a9d-916c57ac7e43.gif)
The problem comes after I turn on solaire-mode in any way. Another strange thing is that when I change the size of the frame, it goes back to normal.

[2021-08-09 10:10] seagle0128 commented on #179
@Hxppdv so the solution is disabling `solarire-mode` in dashbaord buffer?

[2021-08-09 15:38] Hxppdv commented on #179
@seagle0128 I tried your Centaur Emacs before, and I don't know what you did to make the display normal, but once you turn off solaire-mode in the dashboard buffer and turn it on again, the same problem occurs.

![](https://user-images.githubusercontent.com/17672838/128733474-625fa2fb-9966-4e05-8a54-eaa535ecb471.gif)

[2021-08-10 17:37] seagle0128 commented on #179
@Hxppdv No issue on macOS and Linux. I am using emacs-plus without imagemagick.

[2021-08-10 19:05] Hxppdv commented on #179
I also have problems on wsl
I'm using vanilla emacs 27.2 on windows 10. Maybe this problem will only exist on windows.

[2021-08-10 22:09] saucoide opened #320 "dashboard-org-agenda-categories was removed?"
The documentation mentions `dashboard-org-agenda-categories` as a way to filter specific categories from the agenda

But it seems that part of the code was removed, it doesn't seem to be used anywhere

I can replicate the behavior with `dashboard-match-agenda-entry` doing something like this:

[code]

But maybe the example from the documentation can be removed (or replaced with one using `MATCH`)

[2021-08-15 04:46] jcs090218 commented on #320
Thanks for the report! We have removed the misleading documentation from our README file. The variable `dashboard-org-agenda-categories` is also removed from the source code. Thanks! 🎉

[2021-08-15 04:46] #320 closed

[2021-08-19 20:29] nchodosh opened #322 "Issue with releasing org-agenda-buffers"
There appears to be a problem with the initial value of the variable `org-agenda-new-buffers`.

Steps to reproduce:
file: `test.el`

[code]

1. start emacs `emacs -q`
2. open file.el and then run `(eval-buffer)`
3. run `(dashboard-refresh-buffer)`

Result: `dashboard-agenda--release-buffers: Wrong type argument: listp, "ext:org.el"`

Cause:
I believe the issue is that the variable `org-agneda-new-

[2021-08-20 18:04] nchodosh commented on #322
Update: I figured out the reason this bug is tripped is that it's being loaded before `org-mode`. I think the variable assignment might still be a bug, but it doesn't matter if org is loaded. You might want to put `:after org` in the example use-package declaration to avoid any other similar bugs.

[2021-08-23 13:48] mfxarc opened #323 "Remove buffer file name from agenda section"
I'd like to remove the buffer file name to not have these duplicate time
![DeepinScreenshot_select-area_20210823104403](https://user-images.githubusercontent.com/84589886/130457952-56b54065-32ad-4f43-b21a-d2a7b69eb1fc.png)
I found this in dashboard-widgets.el, but removing _file_ doesn't seem to do much
[code]

[2021-08-24 22:35] ricardoricho commented on #323
Hi @mfxarc
that file variable is used to jump to the agenda file when hitting enter. The string with the entry information is given by item
[code]
To remove the file name that you want, replace `(org-get-category)` with `""`
[code]

[2021-08-28 21:12] ricardoricho commented on #323
@mfxarc Yes, like in many programming languages, you can always trim any string. You could replace the last line in the function `(list item loc file)` with `(list (string-trim item) loc file)`. You can use `string-trim` or just use `string-trim-left`

[2021-08-30 16:48] mfxarc commented on #323
Worked just fine, thanks for the time.

[2021-08-30 16:48] #323 closed

[2021-09-02 03:20] apoorv569 opened #325 "How to get the line breaks in the dashboard?"
I want the vertical lines after each category in the dashboard, but for some reason I am not able to show them. I have installed `page-break-lines` package, and turned it on globally, but nothing happens. Is there something else I need to enable to make this work?

[2021-09-02 19:44] ricardoricho commented on #325
@apoorv569,  you have to set `dashboard-page-separator` to `"\n\f\n"`

[2021-09-02 20:00] apoorv569 commented on #325
I added that, but still nothing shows up. Here is my full configuration,

[code]

Also I have noticed even though the `agenda`, `bookmarks`, `projects`, `registers` and `recents` have value of 5, but only `recents` and `projects` show 5 items in the dashboard.

I don't have enough bookmarks and registers so I can't really say about those, but I do have 3-4 `agenda` currently but it only shows 2.

[2021-09-02 21:05] ricardoricho commented on #325
Ok, one issue at a time.
With `(setq dashboard-page-separator "\n\f\n")` you should see `^L` instead of the lines you want, right?
What happens if you try to enable `page-break-lines-mode` using `M-x`?
How are you installing and enabling `page-break-lines`?
I think it could be possible that the package is not available and maybe you have to add `:after page-break-lines` to `use-package`

[2021-09-02 21:46] apoorv569 commented on #325
Ok, I got it working. For some reason it was not able to detect that I changed the value to `\n\f\n` in the `dashboard-mode` but `helpful-variable` says the value changed. So I removed and reinstalled the `dashboard` package, now it shows the lines fine. No idea what the problem was.

[2021-09-07 18:02] ghost opened #326 "Agenda sort entries by scheduled date"
The entries are being apparently sorted by the last modified file to the first, but I would like to sort them by their scheduled date. Is it a bug, or just misconfiguration?

[2021-09-10 12:51] mlemosf commented on #326
I'm having the same problem, the entries are sorted on the agenda view but not on the dashboard.

[2021-09-26 06:56] wang1zhen opened #329 "Dashboard shows line numbers in terminal mode"
Hi, I'm using emacs in terminal mode, and every time I launch emacs in the terminal, the line numbers are shown as follows:
![image](https://user-images.githubusercontent.com/31798841/134796935-68251b4b-af0c-456c-b3fb-4ac8a7fe06cd.png)
and after any actions (i.e. creating a new window then delete it), the line numbers are not shown again. However, if a switch to another buffer then switches back,

[2021-09-27 05:26] jcs090218 commented on #329
It does not seems like an issue from emacs-dashboard. You might have misconfigure `display-line-numbers-mode`? 😕

[2021-09-28 13:26] shenlebantongying commented on #292
Here is my observation:

`dashboard-center-content` doesn't work if you add `agenda` to the dashboard-items as of today's version.

[2021-09-28 15:44] wang1zhen commented on #329
Thank you, it seems if I enable the =global-display-line-numbers-mode= with `:init global-display-line-numbers-mode` instead of using an init hook, it works.

[2021-09-28 15:44] #329 closed

[2021-10-14 22:55] ahmed-shariff opened #331 "Customising `dashboard-heading-icons` has no effect"
Adding an item to `dashboard-heading-icons` has no effect as the icons are being loaded is hard coded:

https://github.com/emacs-dashboard/emacs-dashboard/blob/77eff49a054e08a474608237f0faae13acb4489b/dashboard-widgets.el#L427-L445

[2021-10-18 05:30] cyberknight777 opened #332 "Add a face for `dashboard-footer-icon`"
By adding this, it would make customizing the footer-icon better.

[2021-10-21 01:46] mohkale opened #333 "Remove `(display-graphic-p)` checks from icon insertion"
I've got icons setup to properly render in my terminal but dashboard refuses to insert them because of these checks. I think it'd be better if you let users enable or disable it themselves by customizing the option instead of forcing a graphical frame check.

This is an issue with `dashboard-set-file-icons` and `dashboard-set-heading-icons`.

[2021-10-22 01:08] Kingpatzer opened #334 "Dashboad breaks emacsclient when used in conjuction --with-native-compilation"
When started with the below rather minimal `init.el`,  the following will start an emacs server, but no window is created:

`emacsclient -c -a ''`

Proper behavior should be that a server is started and a window is created.

If I recompile emacs without the --with-native-compilation flag, Emacsclient starts. So it appears to have something to do with native-compilation.

[code]

[2021-11-08 04:00] Evangeline-T opened #338 "Disable footer-icon"
I wonder how to show footnote message without displaying footer-icon.
I tried following configuration, and the entire footnote disappeared.
[code]

[2021-11-08 06:37] jcs090218 commented on #338
Try set `dashboard-footer-icon` to empty string.

[code]

[2021-11-08 11:28] Evangeline-T commented on #338
Thank you so much!!

[2021-11-08 11:28] #338 closed

[2021-11-26 12:56] maikol-solis opened #339 "Bad formatting in agenda widget"
Hi!

I have a problem to visualize correctly my agenda items when there is long categories in the headings.

For example, suppose you have those two items in a file called `actionable.org`

[code]

In my dashboard, they look like this

![image](https://user-images.githubusercontent.com/4078489/143582860-ebbe3118-d2d3-4c5c-9de6-04885bdabf1c.png)

It would be great if the category, the deadline, the

[2021-12-19 20:47] jcs090218 commented on #326
You can now use variable `dashboard-agenda-sort-strategy` to sort.

[2021-12-19 20:47] #326 closed

[2021-12-21 22:58] maxxcan opened #345 "I have problems with the last update and my agenda view"
The message is: dashboard-filter-agenda-by-time: Symbol’s function definition is void: org-in-archived-heading-pError during redisplay: (dashboard-resize-on-hook #<frame emacs@argonauta 0x122ac30>) signaled (void-function org-in-archived-heading-p)

[2021-12-22 01:40] maxxcan commented on #345
I respond to me. The problem is with Emacs 26.3. This problem disappears in the version 27.2

[2021-12-22 01:40] #345 closed

[2021-12-22 06:26] jcs090218 commented on #339
This is currently not possible as I aware of, but I would like to implement this feature in the future. :)

[2021-12-22 06:28] jcs090218 commented on #345
I reckon the error is from #340, yet the CI did pass in Emacs 26.3...

[2021-12-26 13:34] ddoherty03 opened #346 "Add ace-link to dashboard"
This is a wish:  optionally allow links to be opened with ace-links so that the feel is consistent with other link-based modes, such as info, etc.

[2022-01-04 22:53] Aaronzinhoo commented on #319
@jcs090218  I am actually having a similar issue to this. I dont get any errors on `--debug-init`. I only get message buffer contents here. I am using emacs 29.0.50, which could be the reason for this. My contents are not centered also but I believe these are related

`Loading constants
Done loading constants
Loading defaults
Loading /home/aaronzinho/.emacs.d/custom.el (source)...done
Done loading

[2022-01-06 00:31] archer-65 opened #347 "Strange border around Banner"
Hi,
I have this strange border around the banner, any ideas?

![image](https://user-images.githubusercontent.com/76066109/148308781-7b484603-01ea-4759-bc90-67cf68fef868.png)

Here's my config
[code]

[2022-01-12 19:28] mwsundberg commented on #347
If you're referring to the dark purple border around the logo, I believe that's just part of the image used for the logo.

From the repo:
![emacs-dashboard/blob/master/banners/logo.png](https://raw.githubusercontent.com/emacs-dashboard/emacs-dashboard/master/banners/logo.png

[2022-01-12 20:18] archer-65 commented on #347
No, I'm not referring to it 😅
If you look carefully, there's a squared border.

[2022-01-20 17:00] jcs090218 commented on #339
Merged #350. You should now able to align it with the variable `dashboard-agenda-prefix-format`.

[2022-01-20 17:00] #339 closed

[2022-01-21 14:19] Nexion commented on #334
The body of your lambda expression lacks parentheses. It should look like this:

[code]

Omit the last closing parenthesis if you're going to just copy and paste this line of code in place of yours.

[2022-01-21 15:52] Nexion commented on #347
I'm having the same issue after switching to pgtk emacs build. Just checked, the border isn't there if I run regular emacs (via Xwayland), but appears if I run pure GTK emacs build for Wayland. The border disappears if I switch the buffer, resize the window, or set the cursor on the logo, so it seems to be some sort of an initial rendering imperfection.

X:
![x](https://user-images.githubuserconte

[2022-01-23 04:33] condy0919 opened #351 "Benefit from `revert-buffer-function`"
[code]

in `dashboard-mode`. So that [evil](https://github.com/emacs-evil/evil) can avoid such binding:

https://github.com/emacs-evil/evil-collection/blob/master/modes/dashboard/evil-collection-dashboard.el#L72

Since `dashboard` is derived from `special-mode`, evil has already setup "gr" to `revert-buffer` in `special-mode-map.`

Also,

[code]

Emacs widely uses this mechanism.

[2022-01-23 16:19] #351 closed

[2022-01-24 21:40] QMeqGR opened #353 "No space between TODO and todo item"
In the agenda items list there are no spaces between the TODO and the todo item. It looks like

...   TODOthis has to be done
...   TODOnext item to be done

I'm using Emacs 29.0.50, everything else is from MELPA and is up-to-date.

[2022-01-26 00:13] ricardoricho commented on #353
Hi, sorry for the mistake, the space is missing. A temporary fix, and maybe is something you still want to do, is to change `org-agenda-todo-keyword-format` from `"%-1s"` to `"%-5s"` or substitute  `5` with the max length of your keywords.

[2022-01-26 01:16] QMeqGR commented on #353
Worked perfectly. Thank you!

[2022-01-26 03:12] #353 closed

[2022-01-26 16:17] Jesse-Millwood commented on #47
For what it's worth. I had some odd behavior when I had my `org-agenda-files` set to a directory that didn't exist. When I set it to just files that existed everything worked fine.

[2022-01-28 19:09] #325 closed

[2022-02-01 21:05] gonsie opened #356 "what is shortcut-id??"
PR #348 / #349 added a new argument to `dashboard-insert-shortcut` called `shortcut-id`. What is this argument? I have been adding my own shortcuts for each section in my dashboard.

[2022-02-02 00:47] jcs090218 commented on #356
`shortcut-id` is the identifier you placed in `dashboard-item-shortcuts`. The changes are to make shortcut function name consistent to the identifier itself.

For instance, https://github.com/emacs-dashboard/dashboard-ls/commit/e74c0c554197359323a6738726ad2c366dcab509. You can leave it as `nil` if you don't want the shortcut to be recognized.

[2022-02-02 23:29] #356 closed

[2022-02-21 08:40] ppareit opened #360 "Open in other window"
Unable to open a link to a recent file or a bookmark in an other window.

An example for what I mean, assuming you have bookmarks:
Press `C-x r l` to open the bookmark list and now press `C-o` to open a bookmark in an other window.

This also does not work in `recentf-open-files` and the code of emacs-dashboard depends just like recentf on widgets. To me the problem that the call to `widget-button

[2022-03-02 22:04] louisdecharson opened #361 "Weird icons loaded in-lieu of all-the-icons"
Hi,

With the following configuration, the icons look very weird:
[code]

See the screenshot:

![Screenshot 2022-03-02 at 23 00 47](https://user-images.githubusercontent.com/3234544/156457254-dc09211e-f26c-425c-861c-ed54b742d383.png)

Do you know what's happening here ?

[2022-03-04 03:18] ciderchicken opened #362 "Some icons not rendering when using emacs in daemon mode"
![bug_report](https://user-images.githubusercontent.com/97992504/156692625-01f800e4-89e4-4be6-858a-f09707616b50.png)
One on the left is emacs opened with emacs daemon, One on the right is just regular emacs

[2022-04-01 09:13] 93null opened #367 "dashboard-banners-directory resolves with two slashes ("dashboard//banners") (GNU only?)"
(Debian 10, EXWM, Emacs 27.1)
Relative banner paths don't work for me. Absolute paths do (text and image).
When evaluating the _dashboard-banners-directory_ function, I get two slashes "//" between my dashboard library directory and banner directory.
The _dashboard-banners-directory_ function uses the _file-name-directory_ function, and [the docs say](https://www.gnu.org/software/emacs/manual/html

[2022-04-01 09:49] jcs090218 commented on #367
This should resolved in ae5bf7b0cd88df10601e67104a401de5dab8eedd. Thanks for the bug report! :)

[2022-04-01 09:49] #367 closed

[2022-04-04 17:23] wang1zhen opened #368 "could not find banner"
Hi, I use emacs in server mode, and every time I initiate emacs, the following message is shown:
[code]

however, the banner picture is correctly loaded.

Here is my dashboard configs:
[code]

And I start emacs with `emacsclient -c -a ""`

[2022-04-05 17:58] jcs090218 commented on #368
You posted an invalid config, you should have the `)` in the end of line 3.

[code]

Try having the `dashboard-startup-banner` in the `:init` scope and not `config`.

[2022-04-06 01:47] wang1zhen commented on #368
Thanks for reply, I have moved the banner into init part, and the message is still there:
[code]

[2022-04-06 05:02] condy0919 opened #370 "New Emacs banner"
https://www.reddit.com/r/emacs/comments/tqyb01/emacs_dragon_icon/

Original link: https://github.com/willbchang/emacs-dragon-icon

@willbchang

[2022-04-07 04:47] dian-yu-luo opened #371 "feat. Self-define shortcut function"
could I define shortcut myself on dashboard buffer like
bind t to org-todo-list

[2022-04-07 14:10] jcs090218 commented on #371
Would variable `dashboard-item-shortcuts` be sufficient?

[2022-04-07 14:13] jcs090218 commented on #370
User can use variable `dashboard-startup-banner` to set up the banner themselves.

[2022-04-07 14:13] #370 closed

[2022-04-16 14:08] kolewu commented on #81
I have a similar problem when using [chemacs2](https://github.com/plexus/chemacs2) with a profile like so `emacs --with-profile=test`. This leaves the variable `command-line-args` at `("emacs" "--with-profile=test")`. Interestingly some (system) options are removed, so `emacs --with-profile=test --debug-init` gives the same `command-line-args`.

I don't know if this is a problem of chemacs, becaus

[2022-04-18 15:49] kolewu commented on #81
Weird: unfortunately the file arguments seems to be not part of `command-line-args-left` so the above fix does work with arguments already processed and removed from `command-line-args-left` but not with filenames. This is with emacs 28.1.

[2022-04-24 07:07] drishal commented on #334
exactly same issue here as well
latest git builds of pgtk seems to be broken for some reason

[2022-04-24 12:39] drishal opened #373 "Emacs dashboard breaks daemon with latest emacs pgtk native comp build"
Hello, for some reason if I use `emacs --daemon` it fails to detach, does not return the prompt  and does not properly start the client on using the latest git on emacs dashboard
tried a minimal config as here
[dashboard-test .el.txt](https://github.com/emacs-dashboard/emacs-dashboard/files/8549691/dashboard-test.el.txt)

(github for some reason does not like .el so uploading as .txt)

[2022-04-26 04:59] drishal commented on #373
seems like M-x dashboard-refresh-buffer does reload dashboard but for some reason ` (setq initial-buffer-choice (lambda () (get-buffer "*dashboard*")))` breaks emacs client and starts up the scratch buffer instead

[2022-04-26 05:22] drishal commented on #373
UPDATE: Solved issue by adding
[code]
LMFAO

idk why `(dashboard-setup-startup-hook)` was not starting up the dashboard buffer..hmm

[2022-04-26 05:45] jcs090218 commented on #373
Sorry for ignoring this issue. I think this is an existing issue for a long while.

Function `(dashboard-refresh-buffer)` has the flag `dashboard-force-refresh` to `t`. These are my guesses:

* Dashboard inhibited from the command line, https://github.com/emacs-dashboard/emacs-dashboard/blob/master/dashboard.el#L461
* Something went wrong with these three conditions, https://github.com/emacs-dashb

[2022-04-26 06:44] drishal commented on #373
Hmm according to someone on doom-emacs discord (on help-nondoom-users channel) this hook seems to reproduce the error
https://github.com/emacs-dashboard/emacs-dashboard/blob/09290bf700cc269ad3c07d9518cd758b90971fcd/dashboard.el#L462

[2022-04-26 08:19] jcs090218 commented on #373
You mean the `after-init-hook` does not get called?

[2022-04-26 09:18] drishal commented on #373
Hmm seems like it
tbh I am not really good with actually going through the package source so not that sure 😅

[2022-04-26 09:31] jcs090218 commented on #373
Maybe try overriding the function `dashboard-setup-startup-hook`

[code]

place it in your `init.el` and see if that works?

[2022-04-26 11:12] drishal commented on #373
this way?
[code]

(the daemon does not detach in this case)

[2022-04-27 17:33] qkweint commented on #325
I am sure the author of this question meant **Horizontal** lines instead of "Vertical"
Unfortunately the fixes mentioned above did not work, and I am still experiencing this issue. If needed I will post my config file.

[2022-04-27 17:49] jcs090218 commented on #325
Can you try manually enable the mode, `M-x page-break-lines-mode`? I think this would just work. 😕

[2022-04-27 17:51] qkweint commented on #325
Did not work.

[2022-04-27 18:00] jcs090218 commented on #325
I cannot reproduce this,

![Image 2](https://user-images.githubusercontent.com/8685505/165590104-4cb0c3c7-5d17-4df1-a457-62f9137e8122.png)

Did the character `^M` show up in the dashboard buffer?

[2022-04-28 07:37] qkweint commented on #325
Could this be re-opened since I am still having this issue? this fix might have been a fluke or the author may have incorrectly deduced what fixed the issue.

[2022-04-28 08:51] jcs090218 commented on #325
This isn't a bug from `emacs-dashboard`, most likely to be the issue from user's configuration.

You could open another issue, and maybe we can discuss over there?

[2022-04-28 11:34] qkweint opened #375 "Page break lines don't appear on the dashboard"
The page break lines do not appear on the dashboard. Making page break lines manually with `C-q C-l` Does however work even in the dashboard buffer.

This is the configuration for the package (vanilla emacs):
[code]

This is the configuration for the page-break-lines:
[code]

![image](https://user-images.githubusercontent.com/69873602/165743398-3092f9f7-24b8-4563-9e84-3b6e0ce94fef.png)

emacs 28.1

[2022-04-28 12:25] qkweint commented on #325
https://github.com/emacs-dashboard/emacs-dashboard/issues/375

[2022-04-29 00:03] willbush commented on #334
I got the same issue. Dashboard causing the emacs daemon to freeze.

Changing this:
[code]

To: `get-buffer-create`

[code]

Fixed the issue for me.

[2022-04-29 03:37] ricardoricho commented on #375
Hi @qkweint you have a typo in the config, is `dashboard-buffer-sepArator` and you got `dashboard-buffer-sepErator`.

If still doesn't work, maybe adding `:after page-break-lines` to dashboard and `:demand t` in page-break-lines, like this:
[code]
and

[code]

[2022-04-29 14:13] qkweint commented on #375
This worked.

[2022-04-29 14:13] #375 closed

[2022-04-29 17:15] zadca123 commented on #373
same problem here

[2022-04-30 09:13] qkweint commented on #318
What I do is increase the height of the logo with a photo editor which works great.
![image](https://user-images.githubusercontent.com/69873602/166099557-d2cc4f34-e199-4b27-af54-99697aa609a7.png)
540x670

[2022-06-02 20:07] archer-65 commented on #373
Same problem, on both Arch and NixOS

[2022-06-02 22:49] alxleroux commented on #373
same

[2022-06-05 03:03] ananthakumaran commented on #373
NixOS user here, sharing a bit more context that might be useful in debugging the issue.

[code]

[code]

I think the assumption that user don't want to see dashboard when command line arguments are passed doesn't seem to play well with the newer changes at nix package level https://github.com/emacs-dashboard/emacs-dashboard/pull/23

[2022-06-05 18:52] dian-yu-luo commented on #185
I have the same need ,it is too large

[2022-06-06 03:16] ricardoricho commented on #373
Hi, I think there are two issues, need to change `get-buffer` to `get-buffer-create` as @willbush  suggested here https://github.com/emacs-dashboard/emacs-dashboard/issues/334#issuecomment-1112762267 and there is a "bug" in https://github.com/emacs-dashboard/emacs-dashboard/blob/34d1f97200055e6b521c131270d8322efc6c52be/dashboard.el#L457 there should be `if` instead of `when`so the "proper" hook ge

[2022-06-06 03:58] #371 closed

[2022-06-06 04:12] drishal commented on #373
Hmm either using `(dashboard-refresh-buffer)` or `get-buffer-create` works for now

[2022-06-08 06:41] jcs090218 commented on #373
I think the issue is

https://github.com/emacs-dashboard/emacs-dashboard/blob/34d1f97200055e6b521c131270d8322efc6c52be/dashboard.el#L384

and

https://github.com/emacs-dashboard/emacs-dashboard/blob/34d1f97200055e6b521c131270d8322efc6c52be/dashboard.el#L393

These lines was added 6 years ago. I assumed we no longer need these lines since `get-buffer-create` should be pretty safe? 😕

[2022-06-09 09:22] mmahmoudian opened #379 "When initialized, advance to the frst line below logo"
Thanks for this fantastic package. At the moment when the dashboard opens (e.g when `emacs` is executed), the point is at the beginning of the buffer, meaning right before the logo. This would make the user to always at least press a Tab to navigate to the first section. It would be nice if dashboard can already put the pointer at the first item of the first section.

![image](https://user-images.

[2022-06-10 10:09] arunlal-v commented on #368
I'm able to see a similar behaviour as @wang1zhen mentioned in my Debian system with Emacs 28.1.
On invoking the emacsclient, the default logo is displayed, and the *Messages* buffer has the "could not find banner" message.
But once the frame is resized/maximized, the specified logo is displayed.

[2022-06-10 10:11] arunlal-v commented on #368
This is my config

[code]

[2022-06-15 05:39] jcs090218 commented on #373
Okay, I encountered this in the normal client (no daemon) as well. I think the issue is emacs trying to pick up the `*dashboard*` buffer but it hasn't been created. But since dashboard is the last thing to load, we should just use `get-buffer-create` function instead.

Updated the documentation, in #382.

[2022-06-16 21:32] grendello opened #384 "`M-x open-dashboard` makes dashboard buffer contents disappear"
Hi,

I'm running emacs/master builds (currently on revision `a29e0f1c64f82f046d6ac89d194d3c019e933a33`) and
after a recent update of the package, the `*dashboard*` buffer shows up empty after switching to it
with `M-x open-dashboard` (it shows normal content after Emacs starts).  It appears that https://github.com/emacs-dashboard/emacs-dashboard/commit/35bcc2c3a45cd16c1ff66e19ead870c77172f2d0 is w

[2022-06-17 05:40] jcs090218 commented on #384
What's a `M-x open-dashboard`? Is this something from your config (or distro)? 😕

I have added a CI test for activation and tested locally; I doubt the changes should cause any issue. 😅

Let me know if this information helps!

[2022-06-17 09:30] hatlafax commented on #384
Hi, I do have the very same problem. Calling my open-dashboard function yields into an emptied dashboard buffer. This is new behavior. My open function looks as

        (defun psimacs/dashboard/open-dashboard ()
          "Open the *dashboard* buffer and jump to the first widget."
          (interactive)
          ;; Check if need to recover layout
          (if (> (length (window-list-1))

[2022-06-17 10:06] jcs090218 commented on #384
Awesome! I think @hatlafax has the correct workaround?

The previous implement does not make sense, and it's a legacy code (messy). Let me pin this issue due to the breaking changes.

[2022-06-17 20:22] grendello commented on #384
Haha, I feel dumb :) I thought `open-dashboard` was a function defined somewhere in the `dashboard` code, while
I added it to my config over 2 years ago, copied from [this config](https://github.com/seagle0128/.emacs.d/blob/b353ce594245ef5de3d30ce3710797ca1869e42c/lisp/init-dashboard.el#L213-L231) (revision might be different).
It was essentially the same one as in @hatlafax's case:

[code]

I upd

[2022-06-18 04:23] jcs090218 commented on #384
I guess the question has been answered? Close this now! :D

[2022-06-18 04:23] #384 closed

[2022-06-30 22:53] linwaytin commented on #292
Similar issue here. The content is not centered even though `dashboard-center-content` is set.

[2022-07-04 08:08] seagle0128 commented on #347
FYI. Building with `imagemagick` will cause this issue.

[2022-07-04 08:31] linsui opened #385 "The line is too short"
![image](https://user-images.githubusercontent.com/36977733/177081507-5a5a104b-2549-4da1-a8c9-4ad61387124e.png)

Originally reported at https://github.com/seagle0128/.emacs.d/issues/366. Thanks!

[2022-07-05 04:40] linwaytin commented on #292
After a system update, the content is centered.

[2022-07-05 04:56] jcs090218 commented on #292
Sorry for the very late reply.

From my understanding, there isn't much  we can do about this issue since it's mostly like a system-wise (Emacs C layer) bug. But let's keep this issue open since it's worth discussing workaround, bug fixes, etc.

[2022-07-05 20:46] Visne opened #386 "Center content before GUI loads"
Currently, the dashboard is first shown left-aligned and then a short moment later the content snaps to the center, if configured. While not a functional problem, this is pretty jarring.

I was wondering whether this is expected behaviour in the first place (maybe there's something wrong with my config), and if so whether this is fixable.

I've tried moving different config settings to early-init.

[2022-07-07 09:35] mmahmoudian commented on #379
I wag going back and forth with [another issue](https://github.com/emacs-dashboard/emacs-dashboard/issues/384#issuecomment-1159202963) that I realized the `(dashboard-goto-recent-files)` does not exist. I ultimately landed on the following which practically does what I proposed here:

[code]

This is not extremely elegant as ideally the cursor should not even be able to go to the line above "Recen

[2022-07-07 11:30] mmahmoudian opened #388 "Better approach for emacsclient"
The following information from the README is suboptimal:

This is suboptimal because the first time after `emacs --bg-daemon` that a frame is created, it will not properly load the dashboard with all the graphics:

![image](https://user-images.githubusercontent.com/390889/177763775-5e36f1b4-926b-4db7-bcff-3e926fda901d.png)

and the user have to reload the config to get it fixed. This is most proba

[2022-07-08 06:44] jcs090218 commented on #388
After some investigation, I would suggest people use `server-mode` instead of the `--daemon` option. WDYT?

[2022-07-08 06:47] jcs090218 commented on #385
It seems like an issue from `page-break-lines`, have you configured the package? 😕

[2022-07-08 06:51] linsui commented on #385
No, it's the https://github.com/seagle0128/.emacs.d out of the box.

[2022-07-08 06:52] jcs090218 commented on #386
It seems like you are trying to render dashboard before it should be rendered. Make sure you have configured dashboard before you actually called the rendering function. Try debug your configuration or test it with `emacs -q` environment. If the issues persist, then it could be the bug in this package.

Hope the information helps!

[2022-07-08 06:59] jcs090218 commented on #385
Does this only affect the dashboard buffer? Would `page-break-lines` work in other buffer?

[2022-07-08 07:08] linsui commented on #385
How should I test?

[2022-07-08 07:13] jcs090218 commented on #385
You will need to understand `page-break-lines`, it simply replace `^L`  to `─` times the window width. So to test it with other buffer, simply insert `^L` (`\f`) and hit `M-x page-break-lines-mode`. Following code should help,

[code]

`eval` it and `M-x my-test`.

[2022-07-08 08:41] mmahmoudian commented on #388
Thanks for your reply. I'm n00b in Emacs world, but according to [the official Emacs manual ](https://www.gnu.org/software/emacs/manual/html_node/emacs/Emacs-Server.html):

The issue is the last part that I made bold.

Also it seems the preferred method in Emacs is `--daemon`. They have extensive documentation about it, plus the systemd part also points to that direction. The way I use Emacs is to

[2022-07-08 11:18] linsui commented on #385
![image](https://user-images.githubusercontent.com/36977733/177982392-58745bbd-751f-4716-a1b3-ce4af67366de.png)

I got this.

[2022-07-08 15:53] jcs090218 commented on #385
It seems like it does not work in other buffer as well. I guess the bug is from the upstream. 😅

Try report it to https://github.com/purcell/page-break-lines.

[2022-07-08 16:05] linsui commented on #385
Thanks! Looks like it has been reported [here](https://github.com/purcell/page-break-lines/issues/36).

[2022-07-08 16:05] #385 closed

[2022-07-10 23:51] gmsvalente commented on #368
I'm having same issue here if I start with emacsclient. But if I start emacs it works normally. Something with emacs daemon?

[2022-07-11 03:02] gmsvalente commented on #368
As I suspected the problem is not with ***dashboard*** but is with how things are loaded using ***use-package***.  You can create an **use-package init-dashboard** to fix it, as:
[code]

[2022-07-11 04:14] jcs090218 commented on #368
The issue is the `--daemon` since `(display-graphic-p)` will always return `nil`. My current suggestion is to use server-mode instead of `--daemon`.

Further discuss for improvement can see #388.

[2022-07-14 03:33] Bhanukamax commented on #312
I'm facing the same issue, my dashboard buffer is opening as editable too, do you remember how you managed to fix it?

[2022-07-14 03:35] jcs090218 commented on #312
Make sure you don't have other plugin interfere the dashboard buffer.

Hope the information helps!

[2022-07-14 04:34] Bhanukamax commented on #312
Sure, sounds like some tinkering :) I got this after doing some major refactoring in my config, so I need to go through the commits and see what I did that could affect all buffers, I'll have a look, thanks.

[2022-07-15 17:11] dian-yu-luo opened #389 "backspace is not worked"
when cursor stay on the project item, type <backspace> can't delete current project item

[2022-07-15 17:12] jcs090218 commented on #389
Are you using `projectile`?

Is still in `TODO`...

https://github.com/emacs-dashboard/emacs-dashboard/blob/f4e8ed9f0dd2147d4f076948ff7f6c7333042c91/dashboard.el#L315

[2022-07-15 17:21] dian-yu-luo commented on #389
I am not sure which one I use. I use default .
so need I use other package? or something else

[2022-07-15 17:23] jcs090218 commented on #389
Check your variable `dashboard-projects-backend`, it's default to `projectile`. If you want to use default:

[code]

[2022-07-15 17:33] dian-yu-luo commented on #389
that worked

[2022-07-15 17:49] jcs090218 commented on #389
Looks good, would you like to send a PR for this?

[2022-07-16 13:26] wsteinbrenner commented on #226
I know this is an old thread, but I think my question fits the topic very well. First thank you for the great work, I like the dashboard view very much. The only thing that is not ideal for me is, that the agenda view does not show entries with simple timestamp only (<2022-05-19 Do 12:15> or <2022-05-19 Do>). Is this per intend? It would be great if the dashboard agenda view shows these too becaus

[2022-07-16 18:19] jcs090218 commented on #389
Closing this now since #390 get merged.

[2022-07-16 18:19] #389 closed

[2022-07-18 13:54] dian-yu-luo opened #392 "feat. Make dashboard footer act like button"
could I view "dashboard-footer" as a button like "dashboard-navigator-buttons" ? meanwhile, I could add a click event to footer

[2022-07-19 05:43] jcs090218 commented on #392
It cannot be like button but you can use `add-text-properties` to do similar thing, like:

[code]

[2022-07-19 13:42] dian-yu-luo commented on #392
I write some code like this
[code]

and show the error
[code]

[2022-07-19 15:58] jcs090218 commented on #392
You have footer in a lexical scope, try do it in the global scope!

[2022-07-19 16:50] dian-yu-luo commented on #392
but this var was juse referred in this scope, I should not defun a global variable

[2022-07-20 04:59] jcs090218 commented on #392
When do you get the error? When you click on it? Or when you evaluate it? I need to first understand this issue. 😅

[2022-07-20 05:09] dian-yu-luo commented on #392
when click

[2022-07-20 05:18] jcs090218 commented on #392
The error is from lexical scope, `footer` get pop out of the stack when `let` operator ended.

Yes, it happens in the scope. But it got pop out after the `let` operator is ended. Your `callback` has assigned to global scope (`keymap`, then to `text-properties`). That's is why `footer` is missing in the callback because it get called somewhere else, not in that scope.

[2022-07-20 05:23] dian-yu-luo commented on #392
how to fix?

[2022-07-20 05:36] jcs090218 commented on #392
You would either need to declare a variable same in the global scope, or forward the variable with the callback itself.

I am closing this issue since this isn't a real feature request, and it's more like a discussion! Feel free to reopen this issue if you insist to have this as a real feature request! Please click a thumb up 👍 in the first post/comment, if anyone want this feature to be built-in.

[2022-07-20 05:36] #392 closed

[2022-07-22 04:55] jcs090218 commented on #360
How about another approach? `ffap-other-window` should work similar to what you are asking.

[2022-07-22 04:57] jcs090218 commented on #333
Are you running Emacs with emacsclient? Other than that, `display-graphic-p` should be sufficient.